<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE taglib  PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>

	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>ExtremeComponentJRXMLExport</short-name>
    <uri>http://www.cp.finances.gouv.fr/table/JRXMLExport</uri>
    <display-name>ExtremeComponentJRXMLExport</display-name>
	<description><![CDATA[ExtremeComponent export via Jasper]]></description>

   <tag>
      <name>exportPdf</name>
      <tag-class>fr.gouv.finances.lombok.apptags.table.tag.CpJrxmlExportTag</tag-class>
      <body-content>JSP</body-content>
      <display-name>CpJrxmlExportTag</display-name>
      <description><![CDATA[Produit une édition de type PDF]]></description>
      
      <attribute>
         <name>encoding</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Encodage - UTF-8 par défaut.]]></description>
      </attribute>
      
      <attribute>
         <name>fileName</name>
         <required>true</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom du fichier présenté à l'utilisateur.]]></description>
      </attribute>
      
      <attribute>
         <name>imageName</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom de l'image qui permet d'accéder à l'édition.]]></description>
      </attribute>
      
      <attribute>
         <name>interceptor</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet d'une classe qui implémente InterceptExport. On peut utiliser un alias définit dans les préférences. Utilisé pour ajouter ou modifier des attributs.]]></description>
      </attribute>
      
      <attribute>
         <name>view</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet de l'implémentation de la vue qui produit l'édition.On peut utiliser un alias définit dans les préférences. Les types par défaut sont pdf, xls, or csv.]]></description>
      </attribute>
      
      <attribute>
         <name>viewResolver</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet de la classe qui implémente ViewResolver. On peut utiliser un alias définit dans les préférences.]]></description>
      </attribute>
      
      <attribute>
         <name>text</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte affiché si l'icone PDF n'est pas affichée par le navigateur.]]></description>
      </attribute>
      
      <attribute>
         <name>tooltip</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte qui s'affiche lorsque le curseur est placé devant l'image d'export.]]></description>
      </attribute>
      
      <attribute>
         <name>graphique1</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Graphique stocké dans un objet de type FichierJoint]]></description>
      </attribute>      
      
      <attribute>
         <name>graphique2</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Graphique stocké dans un objet de type FichierJoint]]></description>
      </attribute>  
          
      <attribute>
         <name>graphique3</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Graphique stocké dans un objet de type FichierJoint]]></description>
      </attribute>      
      
      <attribute>
         <name>graphique4</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Graphique stocké dans un objet de type FichierJoint]]></description>
      </attribute>
      
      <attribute>
         <name>subreport1</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Sous rapport à ajouter dans la bande summaryNewPage]]></description>
      </attribute>
      
      <attribute>
         <name>subreport2</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Sous rapport à ajouter dans la bande summaryNewPage]]></description>
      </attribute>
      
      <attribute>
         <name>subreport3</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Sous rapport à ajouter dans la bande summaryNewPage]]></description>
      </attribute>
      
      <attribute>
         <name>subreport4</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Sous rapport à ajouter dans la bande summaryNewPage]]></description>
      </attribute>
      
      <attribute>
         <name>zoomratio1</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Entier indiquant dans quelle proportion la taille du graphique doit être ajustée.]]></description>
      </attribute>  
          
      <attribute>
         <name>zoomratio2</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Entier indiquant dans quelle proportion la taille du graphique doit être ajustée.]]></description>
      </attribute>   
               
      <attribute>
         <name>zoomratio3</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Entier indiquant dans quelle proportion la taille du graphique doit être ajustée.]]></description>
      </attribute> 
            
      <attribute>
         <name>zoomratio4</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Entier indiquant dans quelle proportion la taille du graphique doit être ajustée.]]></description>
      </attribute> 
            
      <attribute>
         <name>titreedition</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Titre de l'édition.]]></description>
      </attribute> 
           
      <attribute>
         <name>texteentete</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte placé dans l'entête de l'édition.]]></description>
      </attribute>

      <attribute>
         <name>pagedegarde</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[true : le titre est placé dans une page de garde. false : aucune page de garde]]></description>
      </attribute>
      
      <attribute>
         <name>textepieddepage</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte placé dans le pied de page de l'édition.]]></description>
      </attribute>
      
      <attribute>
         <name>conf</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Chemin d'accès au fichier de configuration accessible dans le classpath.]]></description>
      </attribute>      
      
      <attribute>
         <name>modele</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom du modèle utilisé dans le fichier de configuration. En standard, deux valeurs possibles : portrait ou paysage. ]]></description>
      </attribute>
      
      <attribute>
         <name>nomapplication</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom de l'application qui a produit l'édition]]></description>
      </attribute>
      
      <attribute>
         <name>repertoireimagesetconf</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Répertoire qui contient les images statiques utilisées par l'export PDF.]]></description>
      </attribute>
   </tag>
   
      <tag>
      <name>exportXls</name>
      <tag-class>fr.gouv.finances.lombok.apptags.table.tag.CpJxlExportTag</tag-class>
      <body-content>JSP</body-content>
      <display-name>CpJxlExportTag</display-name>
      <description><![CDATA[Produit une édition de type XLS]]></description>
      
      <attribute>
         <name>encoding</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Encodage - UTF-8 par défaut.]]></description>
      </attribute>
      
      <attribute>
         <name>fileName</name>
         <required>true</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom du fichier présenté à l'utilisateur.]]></description>
      </attribute>
      
      <attribute>
         <name>imageName</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom de l'image qui permet d'accéder à l'édition.]]></description>
      </attribute>
      
      <attribute>
         <name>interceptor</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet d'une classe qui implémente InterceptExport. On peut utiliser un alias définit dans les préférences. Utilisé pour ajouter ou modifier des attributs.]]></description>
      </attribute>
      
      <attribute>
         <name>view</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet de l'implémentation de la vue qui produit l'édition.On peut utiliser un alias définit dans les préférences. Les types par défaut sont pdf, xls, or csv.]]></description>
      </attribute>
      
      <attribute>
         <name>viewResolver</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet de la classe qui implémente ViewResolver. On peut utiliser un alias définit dans les préférences.]]></description>
      </attribute>
      
      <attribute>
         <name>text</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte affiché si l'icone PDF n'est pas affichée par le navigateur.]]></description>
      </attribute>
      
      <attribute>
         <name>tooltip</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte qui s'affiche lorsque le curseur est placé devant l'image d'export.]]></description>
      </attribute>
            
      <attribute>
         <name>titreedition</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Titre de l'édition.]]></description>
      </attribute> 
           
      <attribute>
         <name>texteentete</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte placé dans l'entête de l'édition.]]></description>
      </attribute>

      <attribute>
         <name>pagedegarde</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[true : le titre est placé dans une page de garde. false : aucune page de garde]]></description>
      </attribute>
      
      <attribute>
         <name>textepieddepage</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte placé dans le pied de page de l'édition.]]></description>
      </attribute>
      
      <attribute>
         <name>conf</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Chemin d'accès au fichier de configuration accessible dans le classpath.]]></description>
      </attribute>      
      
      <attribute>
         <name>modele</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom du modèle utilisé dans le fichier de configuration. En standard, deux valeurs possibles : portrait ou paysage. ]]></description>
      </attribute>
      
      <attribute>
         <name>nomapplication</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom de l'application qui a produit l'édition]]></description>
      </attribute>
      
        <attribute>
         <name>repertoireimagesetconf</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Répertoire qui contient les images statiques utilisées par l'export PDF.]]></description>
      </attribute>
      
      
   </tag>
   
      <tag>
      <name>exportOds</name>
      <tag-class>fr.gouv.finances.lombok.apptags.table.tag.CpOdsExportTag</tag-class>
      <body-content>JSP</body-content>
      <display-name>CpOdsExportTag</display-name>
      <description><![CDATA[Produit une édition de type ODS]]></description>
      
      <attribute>
         <name>encoding</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Encodage - UTF-8 par défaut.]]></description>
      </attribute>
      
      <attribute>
         <name>fileName</name>
         <required>true</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom du fichier présenté à l'utilisateur.]]></description>
      </attribute>
      
      <attribute>
         <name>imageName</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom de l'image qui permet d'accéder à l'édition.]]></description>
      </attribute>
      
      <attribute>
         <name>interceptor</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet d'une classe qui implémente InterceptExport. On peut utiliser un alias définit dans les préférences. Utilisé pour ajouter ou modifier des attributs.]]></description>
      </attribute>
      
      <attribute>
         <name>view</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet de l'implémentation de la vue qui produit l'édition.On peut utiliser un alias définit dans les préférences. Les types par défaut sont pdf, xls, or csv.]]></description>
      </attribute>
      
      <attribute>
         <name>viewResolver</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom complet de la classe qui implémente ViewResolver. On peut utiliser un alias définit dans les préférences.]]></description>
      </attribute>
      
      <attribute>
         <name>text</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte affiché si l'icone PDF n'est pas affichée par le navigateur.]]></description>
      </attribute>
      
      <attribute>
         <name>tooltip</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte qui s'affiche lorsque le curseur est placé devant l'image d'export.]]></description>
      </attribute>
            
      <attribute>
         <name>titreedition</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Titre de l'édition.]]></description>
      </attribute> 
           
      <attribute>
         <name>texteentete</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte placé dans l'entête de l'édition.]]></description>
      </attribute>

      <attribute>
         <name>pagedegarde</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[true : le titre est placé dans une page de garde. false : aucune page de garde]]></description>
      </attribute>
      
      <attribute>
         <name>textepieddepage</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Texte placé dans le pied de page de l'édition.]]></description>
      </attribute>
      
      <attribute>
         <name>conf</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Chemin d'accès au fichier de configuration accessible dans le classpath.]]></description>
      </attribute>      
      
      <attribute>
         <name>modele</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom du modèle utilisé dans le fichier de configuration. En standard, deux valeurs possibles : portrait ou paysage. ]]></description>
      </attribute>
      
      <attribute>
         <name>nomapplication</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Nom de l'application qui a produit l'édition]]></description>
      </attribute>
      
        <attribute>
         <name>repertoireimagesetconf</name>
         <required>false</required>
         <rtexprvalue>true</rtexprvalue>
           <description><![CDATA[Répertoire qui contient les images statiques utilisées par l'export PDF.]]></description>
      </attribute>
      
      
   </tag>
   
</taglib>