<%@ tag dynamic-attributes="attributes" 
        isELIgnored="false" 
        pageEncoding="UTF-8"
        description="Insère un élément select et son libellé"%>

<%@ include file="/META-INF/resources/WEB-INF/tags/html/includes.tagf" %>
<%--Attributs principaux --%>
<%@ attribute name="attribut" 
              required="true" 
              description="Nom de l'attribut associé au champs de saisie dans l'objet support du formulaire. Utilisé dans le spring bind" %>
<%@ attribute name="readonly"
              description="true : champs en lecture seule"%>
<%@ attribute name="disabled"
              description="true : champs inactif"%>       
<%@ attribute name="disabledwhenreadonly"
              description="true : quand un champ est en readonly, il est aussi disabled"%>              
<%@ attribute name="libelle" 
              required="false" 
              description="Label associé à la liste déroulante (select)"%>
<%@ attribute name="itemslist" 
              type="java.lang.Object" 
              description="Bean de type List contenant les éléments de la liste déroulante."%>
<%@ attribute name="itemsset" 
              type="java.lang.Object" 
              description="Bean de type set contenant les éléments de la liste déroulante."%>
<%@ attribute name="itemsmap" 
              type="java.lang.Object"
              description="Bean de type Map contenant les éléments de la liste déroulante." %>
<%@ attribute name="label"
              description="Nom de la propriété d'un élément de la collection (items...) affichée dans la liste déroulante."%>
<%@ attribute name="value"
              description="Nom de la propriété d'un élément de la collection (items...) utilisé comme valeur de l'option."%>
<%@ attribute name="ignorenullnestedpath" 
              description="true : Ignore les références nulles lors de l'accès à un attribut. Valeur par défaut = true "%>
<%@ attribute name="displayed"
              description="true: le tag est évalué. Par défaut : true"%>
<%@ attribute name="affichelibelle"
              description="Affichage du libellé associé à la liste déroulante. Par défaut : true"%>              

<%@ attribute name="defautitemlabel"
			description="Libellé de l'item par défaut. Valeur par défaut : -- Aucune --"%>
<%@ attribute name="defautitemvalue"
			description="Libellé de l'item par défaut. Valeur par défaut : -999999"%>
<%@ attribute name="defautitem"
			description="true : affiche un item par défaut. Valeur par défaut : true"%>

<%--Attributs optionnels --%>
<%@ attribute name="requis" 
              description="true : champs obligatoire.  Valeur par défaut = true "%>
<%@ attribute name="consigne" 
              description="Correspond à l'attribut 'title' de l'élément label. Peut contenir, par exemple, une consigne de saisie du champs. "%>

<%--Attributs de présentation --%>
<%@ attribute name="theme"
              description="Thème de présentation. Par défaut = V"%>
<%@ attribute name="boxheight"
              description="Hauteur du bloc div contenant l'ensemble des éléments relatifs à un champ de saisie."%>
<%@ attribute name="boxwidth"
              description="Largeur du bloc div contenant l'ensemble des éléments relatifs à un champ de saisie."%>
<%@ attribute name="labelboxwidth"
              description="Largeur du bloc div contenant le libelle (en % de la largeur totale du bloc parent)"%>
<%@ attribute name="inputboxwidth"
              description="Largeur du bloc div contenant le champ de saisie (en % de la largeur totale du bloc parent)"%>
<%@ attribute name="compboxwidth"
              description="Largeur du bloc div contenant la zone complémentaire (en % de la largeur totale du bloc parent)"%>
              
<%@ attribute name="normalboxclass"
              description="Classe css du bloc div contenant l'ensemble des éléments relatifs à la liste déroulante. Valeur par défaut = normal "%>
<%@ attribute name="lectureboxclass"
              description="Classe css du bloc div contenant l'ensemble des éléments relatifs à la liste déroulante en lecture seule. Valeur par défaut = lecture."%>
<%@ attribute name="erreurboxclass"
              description="Classe css du bloc div contenant l'ensemble des éléments relatifs à la liste déroulante, lorsque le champs est en erreur. Valeur par défaut = erreur."%>
<%@ attribute name="requisboxclass"
              description="Classe css du bloc div contenant l'ensemble des éléments relatifs à la liste déroulante, lorsque le champs de saisie est obligatoire. Valeur par défaut = requis."%>


<%@ attribute name="labelclass"
              description="Classe css de l'élément label. Valeur par défaut = labelText"%>            
<%@ attribute name="labelboxclass"
              description="Classe css du bloc div contenant le libellé.Valeur par défaut = boxlblText."%>
<%@ attribute name="inputboxclass"
              description="Classe css du bloc div contenant le champs de saisie.Valeur par défaut = boxText."%>
<%@ attribute name="compboxclass"
              description="Classe css du bloc div contenant des données complémentaires sur le champs de saisie.Valeur par défaut = boxCompText."%>

<%-- responsive  --%>
<%@ attribute name="responsive" required="false" description="indique si les elements de la page doivent etre responsive"%>
<%@ attribute name="bootstrapclass" required="false" description="classes bootstrap du select"%>
<%@ attribute name="bootstraplabelclass" required="false" description="classes bootstrap du label"%>
<%@ attribute name="bootstrapselectclass" required="false" description="classes bootstrap du select"%>
<%@ attribute name="bootstrapbodyclass"  required="false" description="classes bootstrap du body" %> 
  

<%-- Attributs  --%>
<%@ attribute name="tabindex"
              description="Numéro indiquant l'ordre d'accés par tabulation."%>
<%@ attribute name="accesskey"
              description="Touche de raccourci pour accéder à un champs."%>
<%@ attribute name="onfocus"
              description="Script exécuté lors que l'élément est accédé."%>
<%@ attribute name="onblur"
              description="Script exécuté lors que l'élément est quitté."%>
<%@ attribute name="onchange"
              description="Script exécuté lors que l'élément est quitté et que son contenu a été modifié."%>

<%-- Attributs événements intrinsèques HTML --%>
<%@ attribute name="onclick"
              description="Script exécuté quand le bouton du dispositif de pointage est cliqué au-dessus d'un élément."%>
<%@ attribute name="ondblclick"
              description="Script exécuté quand le bouton du dispositif de pointage est double-cliqué au-dessus d'un élément."%>              
<%@ attribute name="onmousedown"
              description="Script exécuté quand le bouton du dispositif de pointage est appuyé au-dessus d'un élément."%>              
<%@ attribute name="onmouseup"
              description="Script exécuté quand le bouton du dispositif de pointage est relaché au-dessus d'un élément."%>                            
<%@ attribute name="onmouseover"
              description="Script exécuté quand le bouton du dispositif de pointage est déplacé sur un élément."%>                                          
<%@ attribute name="onmousemove"
              description="Script exécuté quand le bouton du dispositif de pointage est déplacé alors qu'il est au-dessus d'un élément."%>
<%@ attribute name="onmouseout"
              description="Script exécuté quand le bouton du dispositif de pointage est déplacé en dehors d'un élément."%>                                                                      
<%@ attribute name="onkeypress"
              description="Script exécuté quand une touche est pressée puis relachée au-dessus d'un élément."%>
<%@ attribute name="onkeydown"
              description="Script exécuté quand une touche est gardée appuyée au-dessus d'un élément."%>              
<%@ attribute name="onkeyup"
              description="Script exécuté quand une touche est relachée au-dessus d'un élément."%>
              
<%@ attribute name="id"
              description="id de l'élément input. Par défaut : attribué automatiquement."%>
              
<%--Affectation de valeurs par défaut aux attributs--%>
<app:initvar  attrname="_displayed" attrvalue="${displayed}" bundlekey="app.select.displayed" defaultvalue="true"/>
<app:initvar attrname="_ignorenullnestedpath" attrvalue="${ignorenullnestedpath}" bundlekey="app.select.ignorenullnestedpath" defaultvalue="true"/>
<app:initvar attrname="_readonly" attrvalue="${readonly}" bundlekey="app.select.readonly" defaultvalue="false"/>
<app:initvar attrname="_disabled" attrvalue="${disabled}" bundlekey="app.select.disabled" defaultvalue=""/>
<app:initvar attrname="_disabledwhenreadonly" attrvalue="${disabledwhenreadonly}" bundlekey="app.select.disabledwhenreadonly" defaultvalue="true"/>
<app:initvar attrname="_labelclass" attrvalue="${labelclass}" bundlekey="app.select.labelclass" defaultvalue="labelText"/>
<app:initvar attrname="_requis" attrvalue="${requis}" bundlekey="app.select.requis" defaultvalue="false"/>
<app:initvar attrname="_onkeypress" attrvalue="${onkeypress}" bundlekey="app.select.onkeypress" defaultvalue="return submitEnterButton(event)"/>
<app:initvar attrname="_affichelibelle" attrvalue="${affichelibelle}" bundlekey="app.select.affichelibelle" defaultvalue="true"/>

<app:initvar attrname="_theme" attrvalue="${theme}" bundlekey="app.select.theme" defaultvalue="V"/>
<app:initvar attrname="_boxheight" attrvalue="${boxheight}" bundlekey="app.select.boxheight" defaultvalue="20px"/>
<app:initvar attrname="_boxwidth" attrvalue="${boxwidth}" bundlekey="app.select.boxwidth" defaultvalue="100%"/>
<app:initvar attrname="_labelboxwidth" attrvalue="${labelboxwidth}" bundlekey="app.select.labelboxwidth" defaultvalue="35%"/>
<app:initvar attrname="_inputboxwidth" attrvalue="${inputboxwidth}" bundlekey="app.select.inputboxwidth" defaultvalue="50%"/>
<app:initvar attrname="_compboxwidth" attrvalue="${compboxwidth}" bundlekey="app.select.compboxwidth" defaultvalue="50%"/>

<app:initvar attrname="_normalboxclass" attrvalue="${normalboxclass}" bundlekey="app.select.normalboxclass" defaultvalue="normal"/>
<app:initvar attrname="_lectureboxclass" attrvalue="${lectureboxclass}" bundlekey="app.select.lectureboxclass" defaultvalue="lecture"/>
<app:initvar attrname="_erreurboxclass" attrvalue="${erreurboxclass}" bundlekey="app.select.erreurboxclass" defaultvalue="erreur"/>
<app:initvar attrname="_requisboxclass" attrvalue="${requisboxclass}" bundlekey="app.select.requisboxclass" defaultvalue="requis"/>
<app:initvar attrname="_labelboxclass" attrvalue="${labelboxclass}" bundlekey="app.select.labelboxclass" defaultvalue="boxlblText"/>
<app:initvar attrname="_inputboxclass" attrvalue="${inputboxclass}" bundlekey="app.select.inputboxclass" defaultvalue="boxText"/>
<app:initvar attrname="_compboxclass" attrvalue="${compboxclass}" bundlekey="app.select.compboxclass" defaultvalue="boxCompText"/>

<app:initvar attrname="_requisindicateur" attrvalue="${requisindicateur}" bundlekey="app.select.requisindicateur" defaultvalue=" *"/>
<app:initvar attrname="_normalindicateur" attrvalue="${normalindicateur}" bundlekey="app.select.normalindicateur" defaultvalue=""/>

<app:initvar attrname="_defautitemlabel" attrvalue="${defautitemlabel}" bundlekey="app.select.defautitemlabel" defaultvalue="--      ---"/>			
<app:initvar attrname="_defautitemvalue" attrvalue="${defautitemvalue}" bundlekey="app.select.defautitemvalue" defaultvalue="-999999"/>			
<app:initvar attrname="_defautitem" attrvalue="${defautitem}" bundlekey="app.select.defautitem" defaultvalue="true"/>			

<app:initvar attrname="_imagesrepertoire" attrvalue="${imagesrepertoire}" bundlekey="app.page.imagesrepertoire"
    defaultvalue="/composants/tagsapp/images" />

<app:initvar attrname="_bootstrapclass" attrvalue="${bootstrapclass}" bundlekey="app.page.rwd.bootstrapclass" defaultvalue="fullwidth" />
<app:initvar attrname="_bootstraplabelclass" attrvalue="${bootstraplabelclass}" bundlekey="app.page.rwd.bootstraplabelclass" defaultvalue="btmodel_quarter_to_half" />
<app:initvar attrname="_bootstrapselectclass" attrvalue="${bootstrapselectclass}" bundlekey="app.page.rwd.bootstrapselectclass" defaultvalue="btmodel_quarter_to_half" />
<app:initvar attrname="_bootstrapbodyclass" attrvalue="${bootstrapbodyclass}" bundlekey="app.page.rwd.bootstrapbodyclass" defaultvalue="btmodel_1" />


<%@ include file="/META-INF/resources/WEB-INF/tags/app/responsive_test.tagf" %>

<%-- début du test d'évaluation du tag--%>
<c:if test="${_displayed == 'true' }">

<%-- Utilisation de la variable _formObjectName exposée par le tag app:form --%>
<c:if test="${!empty  _formObjectName}">
<c:set var="_path" value="${_formObjectName}.${attribut}"/>
</c:if>

<%-- Utilisation de la variable _formReadOnly exposée par le tag app:form --%>
<c:if test="${!empty  _formReadOnly}">
<c:set var="_readonly" value="true"/>
</c:if>

<%-- Détermination de l'ID du champ --%>
<app:id attrname="_id" id="${id}"></app:id>

<%@ include file="/META-INF/resources/WEB-INF/tags/app/fillstatus_error.tagf" %>

<%-- Remplit la variable status_warning si nécessaire --%>
<%@ include file="/META-INF/resources/WEB-INF/tags/app/fillstatus_warning.tagf" %>

<c:if test="${empty libelle}">
	<fmt:message key="${attribut}" var="libelle" />
	<str:countMatches substring="???${attribut}???" var="exitInMessagesProperties">${libelle}</str:countMatches>
	<c:if test="${exitInMessagesProperties == 1}"><c:set var="libelle" value=""/></c:if>
</c:if>

<%-- Sélection de la classe du bloc div --%>
<c:choose>
	<c:when test="${status_error}">
		<c:set var="_divclass" value="${_theme}${_erreurboxclass}"/>
		<c:if test="${empty _firsterrorid}">
			<c:set var="_firsterrorid" value="${_id}" scope="request"/> 
		</c:if>
	</c:when>
	<c:when test="${_readonly eq 'true'}">
		<c:set var="_divclass" value="${_theme}${_lectureboxclass}"/>
	</c:when>
	<c:when test="${_requis eq 'true'}">
		<c:set var="_divclass" value="${_theme}${_requisboxclass}"/>
	</c:when>
	<c:otherwise>
		<c:set var="_divclass" value="${_theme}${_normalboxclass}"/>
	</c:otherwise>
</c:choose>

<%-- Ajout d'un indicateur pour les champs obligatoires --%>
<c:choose>
	<c:when test="${_requis eq 'true'}">
		<c:set var="libelle" value="${libelle}${_requisindicateur}"/>
	</c:when>
	<c:otherwise>
		<c:set var="libelle" value="${libelle}${_normalindicateur}"/>
	</c:otherwise>
</c:choose>

<%-- Utilisation du hack "_" pour contourner l'absence de propriété min-height sous IE --%>
    <c:choose>
        <c:when test="${_responsive eq 'false'}">
<div class="${_divclass}" style="width: ${_boxwidth};height: auto;_height: ${_boxheight};min-height: ${_boxheight};">
        </c:when>
        <c:otherwise>
            <div class="${_divclass}  form-group ${_bootstrapclass}">
        </c:otherwise>
    </c:choose>

    <%-- Insère le label associé à  la liste déroulante --%>
    <c:if test="${_affichelibelle eq 'true'}">
        <c:if test="${_responsive eq 'false'}">
	    <div class="${_labelboxclass}" style="width: ${_labelboxwidth};">
        </c:if>
		    <c:if test="${! empty accesskey}">
			    <c:set var="_complabel" value="accesskey='${accesskey}'"/>
		    </c:if>
		    <c:if test="${! empty consigne}">
			    <c:set var="_complabel" value="${_complabel} title='${consigne}'"/>
		    </c:if>

        <c:choose>
            <c:when test="${_responsive eq 'false'}">
		    <label class="${_labelclass}" for="${_id}" ${_complabel}>
            </c:when>
            <c:otherwise>
                <label class="labelText control-label ${_bootstraplabelclass}" for="${_id}" ${_complabel}>
            </c:otherwise>
        </c:choose>

		    <c:if test="${status_error || status_warning}">
                    <fmt:message key="required" var="errorMsg">
                        <fmt:param value="${libelle}"/>
                    </fmt:message>
                    <img src="<c:url value='${_imagesrepertoire}/errInput.gif'/>"   alt="${fn:escapeXml(errorMsg)}" 
                                                                                  title="${fn:escapeXml(errorMsg)}"/>
                </c:if>     
                ${libelle}</label>

        <c:if test="${_responsive eq 'false'}">
	    </div>
    </c:if>
        
    </c:if>
    <c:if test="${_affichelibelle eq 'false'}">
        <c:if test="${status_error || status_warning}">
             <fmt:message key="required" var="errorMsg">
                 <fmt:param value="${libelle}"/>
             </fmt:message>
             <img src="<c:url value='${_imagesrepertoire}/errInput.gif'/>"   alt="${fn:escapeXml(errorMsg)}" 
                                                                           title="${fn:escapeXml(errorMsg)}"/>
         </c:if>
    </c:if>
    
    
    <%-- Insère la liste déroulante--%>
     <c:choose>
            <c:when test="${_responsive eq 'false'}">
    <div class="${_inputboxclass}" style="width: ${_inputboxwidth};">
            </c:when>
            <c:otherwise>
                <div class="${_bootstrapselectclass}">
            </c:otherwise>
        </c:choose>
        
    <html:select path="${_path}">
       	<jsp:attribute name="ignorenullnestedpath">${_ignorenullnestedpath}</jsp:attribute>
    	<jsp:attribute name="id">${_id}</jsp:attribute>
    	<jsp:attribute name="readOnly">${_readonly}</jsp:attribute>
    	<jsp:attribute name="disabled">${_disabled}</jsp:attribute>
    	<jsp:attribute name="disabledwhenreadonly">${_disabledwhenreadonly}</jsp:attribute>    	  	
    	<jsp:attribute name="tabindex">${tabindex}</jsp:attribute>
    	<jsp:attribute name="onfocus">${onfocus}</jsp:attribute>
    	<jsp:attribute name="onblur">${onblur}</jsp:attribute>
    	<jsp:attribute name="onchange">${onchange}</jsp:attribute>
    	<jsp:attribute name="onkeypress">${_onkeypress}</jsp:attribute> 
		<jsp:attribute name="onclick">${onclick}</jsp:attribute> 
		<jsp:attribute name="ondblclick">${ondblclick}</jsp:attribute> 	   			
		<jsp:attribute name="onmousedown">${onmousedown}</jsp:attribute>
		<jsp:attribute name="onmouseup">${onmouseup}</jsp:attribute>
		<jsp:attribute name="onmouseover">${onmouseover}</jsp:attribute>
		<jsp:attribute name="onmousemove">${onmousemove}</jsp:attribute>
		<jsp:attribute name="onmouseout">${onmouseout}</jsp:attribute>
		<jsp:attribute name="onkeydown">${onkeydown}</jsp:attribute>
		<jsp:attribute name="onkeyup">${onkeyup}</jsp:attribute> 
    	<jsp:body>
		<%-- La variable selected est exposée par le tag html:select --%>
		
		<%-- Insertion d'un item par défaut--%>
		<c:if test="${_defautitem eq 'true'}">
		<html:option value="${_defautitemvalue}" selected="${selected}" readOnly="${_readonly}">${_defautitemlabel}</html:option>
		</c:if>
		
		<%-- Les items de la liste déroulante sont stockés dans une MAP --%>
		<c:if test="${!empty itemsmap}">  
     		<html:optionsmap items="${itemsmap}" selected="${selected}">
     			<jsp:attribute name="label">${label}</jsp:attribute>
     			<jsp:attribute name="value">key</jsp:attribute>
    	    	<jsp:attribute name="readOnly">${_readonly}</jsp:attribute>
     		</html:optionsmap>
		</c:if>

		<%-- Les items de la liste déroulante sont stockés dans une collection de type List --%>
		<c:if test="${!empty itemslist}">
			<html:options items="${itemslist}" selected="${selected}">
 		    	<jsp:attribute name="label">${label}</jsp:attribute>
  		    	<jsp:attribute name="value">${value}</jsp:attribute>
    	    	<jsp:attribute name="readOnly">${_readonly}</jsp:attribute>
			</html:options>
		</c:if>
		
		<%-- Les items de la liste déroulante sont stockés dans une collection de type Set --%>
		<c:if test="${!empty itemsset}">
			<html:options items="${itemsset}" selected="${selected}">
 		    	<jsp:attribute name="label">${label}</jsp:attribute>
  		    	<jsp:attribute name="value">${value}</jsp:attribute>
    	    	<jsp:attribute name="readOnly">${_readonly}</jsp:attribute>  		    	
			</html:options>
		</c:if>
		</jsp:body>
    </html:select> 
    </div>
    <%-- Insère les éléments présents dans le corps du tag --%>
    <%-- Lecture du corps du Tag--%>
	<jsp:doBody var="resbody"/>
		<c:if test="${! empty resbody}">
         <c:choose>
            <c:when test="${_responsive eq 'false'}">
                <div class="${_compboxclass}" style="width: ${_compboxwidth};">${resbody}</div>
            </c:when>
            <c:otherwise>
                <div class="${_bootstrapbodyclass}">${resbody}</div>
                
            </c:otherwise>
        </c:choose>
		</c:if>
</div>

<%-- fin du test d'évaluation du tag--%>
</c:if>