// LESS
// http://www.colourlovers.com/palette/755913/More_About_Money


@bandeau-background-color : #FFE6BF;
@bandeau-text-color : black;

@menu-text-color: black;
@menu-text-color-hover: white;
@menu-background-color : #DFDFDF;
@menu-item-hover-background-color :  #BF6923; /*darken(@menu-background-color,10%)*/

@ariane-bg-color : #D1DFD9;

@donneescontainer-bg-color : #FFAF6F; 
@onglet-item : #FFEDDF;
@onglet-item-color : black;
@onglet-item-bgColor-hover : #BF6923;

@legendBgColor : #FFAF6F; 
@summaryBgColor : #FFD3AF;

@buttonBgColor : #3E6F5B;
@buttonTextColor : white;
@buttonTextShadowColor : black;

@buttonBgColorHover : #D1DFD9;
@buttonTextColorHover : black;
@buttonTextShadowColorHover : white;

@formBgColor : white;

/* import du fichier de référence pour la charte Copernic */
@import "core/copernic-core";