// LESS
// 


@bandeau-background-color : #FFFFFF;
@bandeau-text-color : black;

@menu-text-color: black;
@menu-text-color-hover: white;
@menu-background-color : #DFDFDF;
@menu-item-hover-background-color :  #6F375C; /*darken(@menu-background-color,10%)*/

@ariane-bg-color : #E7E0EF;

@donneescontainer-bg-color : #99B2B7; 
@onglet-item : #EFF6F1;
@onglet-item-color : black;
@onglet-item-bgColor-hover : #6F375C;

@legendBgColor : #99B2B7; 
@summaryBgColor : #D5DED9;

@buttonBgColor : #6F375C;
@buttonTextColor : white;
@buttonTextShadowColor : black;

@buttonBgColorHover : #CFC2CA;
@buttonTextColorHover : black;
@buttonTextShadowColorHover : white;

@formBgColor : white;

/* import du fichier de référence pour la charte Copernic */
@import "core/copernic-core";