// LESS
// http://www.colourlovers.com/palette/755913/More_About_Money


@bandeau-background-color : #FFF5CF; 
@bandeau-text-color : black;

@menu-text-color: black;
@menu-text-color-hover: white;
@menu-background-color : #DFDFDF;
@menu-item-hover-background-color : #29536F; /*darken(@menu-background-color,10%)*/

@ariane-bg-color : #C3D4EB;

@donneescontainer-bg-color : #FFDF5F; 
@onglet-item : #FFF2BF; 
@onglet-item-color : black;
@onglet-item-bgColor-hover : #81939F;

@legendBgColor : #FCDF5E; 
@summaryBgColor : #FFF5CF;

@buttonTextColor : white;
@buttonTextShadowColor : black;
@buttonBgColor : #29536F;

@buttonBgColorHover : #CFCFCF;
@buttonTextColorHover : black ;
@buttonTextShadowColorHover : white; 

@formBgColor : white;

/* import du fichier de référence pour la charte Copernic */
@import "core/copernic-core";