// LESS

@menu-text-color: white;
@menu-text-color-hover: white;
@menu-background-color-start : #84BA39;
@menu-background-color-end : #84BA39;
@menu-item-hover-background-color-start : darken(@menu-background-color-start,10%);
@menu-item-hover-background-color-end : darken(@menu-background-color-end,10%);


@bandeau-background-color-start : #98C3DA;
@bandeau-background-color-end : #98C3DA;
@bandeau-text-color : black;

@ariane-bg-color : #C1DC9C;

@donneescontainer-bg-color : #E8F0E1;
@onglet-item : #84BA39;
@onglet-item-color : black;

@import "core/custom-core";