<%@ tag dynamic-attributes="attributes" 
        isELIgnored="false" 
        pageEncoding="UTF-8"
        description="Exemple de tag applicatif"%>
        
<%@ include file="/WEB-INF/tags/html/includes.tagf" %>