/*darken(@menu-background-color,10%)*/
/* import du fichier de référence pour la charte Copernic */
/* menu 222*/
div.nav,
div.nav ul li {
  background-color: #dfdfdf !important;
  background-repeat: repeat-x !important;
  background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
}
div.nav ul li:hover,
div.nav ul li ul li:hover,
div.nav ul li.hover,
div.nav ul li ul li.hover {
  /*.gradient-linear(@menu-item-hover-background-color, @menu-item-hover-background-color);*/

  background-color: #bf6923 !important;
  background-repeat: repeat-x !important;
  background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
}
div.nav ul li:hover > a,
div.nav ul li:hover > span,
div.nav ul li:hover > a.nourl,
div.nav ul li ul li:hover > a,
div.nav ul li ul li:hover > span,
div.nav ul li ul li:hover > a.nourl,
div.nav ul li.hover > a,
div.nav ul li.hover > span,
div.nav ul li.hover > a.nourl,
div.nav ul li ul li.hover > a,
div.nav ul li ul li.hover > span,
div.nav ul li ul li.hover > a.nourl {
  color: #ffffff !important;
}
div.nav ul a,
div.nav ul span,
div.nav ul a.nourl {
  color: #000000 !important;
}
/* end : menu */
/* fil d'ariane */
.chemincontainer {
  background: #d1dfd9;
}
.chemincontainer a,
.chemincontainer a:visited {
  color: black;
  text-decoration: underline;
}
/* end : fil d'ariane */
/* container */
.bandeaucontainer {
  background-color: #ffe6bf !important;
  background-repeat: repeat-x !important;
  background-image: -moz-linear-gradient(top, #ffe6bf 0%, #ffe6bf 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe6bf), color-stop(100%, #ffe6bf)) !important;
  background-image: -webkit-linear-gradient(top, #ffe6bf 0%, #ffe6bf 100%) !important;
  background-image: -ms-linear-gradient(top, #ffe6bf 0%, #ffe6bf 100%) !important;
  background-image: -o-linear-gradient(top, #ffe6bf 0%, #ffe6bf 100%) !important;
  background-image: linear-gradient(top, #ffe6bf 0%, #ffe6bf 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6bf', endColorstr='#ffe6bf', GradientType=0) !important;
  color: #000000 !important;
}
.pagecontainer .donneescontainer .donnees,
.eXtremeTable .statusBar,
.eXtremeTable .filterButtons,
.eXtremeTable .filter,
.eXtremeTable .even {
  background-color: #ffaf6f;
}
.pagecontainer .ongletcontainer ul.onglet li,
.erreuronglet li,
.pagecontainer .ongletcontainer ul.onglet li a,
.erreuronglet li a,
.pagecontainer .ongletcontainer ul.onglet li.onlytext {
  background: #ffeddf;
  color: #000000;
}
.pagecontainer .ongletcontainer ul.onglet li a:hover {
  background: #bf6923;
}
.pagecontainer .ongletcontainer ul.onglet li.active,
.erreuronglet li.ongleterreuractive {
  background: #ffaf6f;
}
/* end : container */
/* form */
.appForm fieldset {
  padding: 0;
}
legend {
  background: #ffaf6f;
  width: 930px;
  padding: 5px 10px;
  margin: 0px;
}
details {
  margin: 5px 0;
}
summary,
summary:hover,
summary:active,
summary:focus {
  background: #ffd3af;
  border-radius: 0;
  border: 0;
}
details p {
  padding: 0 10px;
}
button,
.btn,
.appForm .boxboutons input.submit,
.appForm .boxboutons input.primary,
input.primary,
.boxCompText button.submit,
.boxCompText input,
input.submit {
  color: #ffffff;
  text-shadow: 0 1px 1px #000000;
  background-color: #3e6f5b;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
}
/* button :hover */
button:hover,
.btn:hover,
.appForm .boxboutons input.submit:hover,
.boxCompText button.submit:hover,
.boxCompText input:hover,
input.primary:hover,
.appForm .boxboutons input.primary:hover,
input.submit:hover,
button:hover,
button:focus,
button:active {
  background-color: #d1dfd9 !important;
  color: #000000 !important;
  text-shadow: 0 1px 1px #ffffff !important;
}
button:focus,
button:active,
.btn:focus,
.btn:active,
.appForm .boxboutons input.submit:focus,
.appForm .boxboutons input.submit:active,
.boxCompText button.submit:focus,
.boxCompText button.submit:active,
.boxCompText input:focus,
.boxCompText input:active,
input.submit:focus,
input.submit:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}
.pagecontainer .donneescontainer {
  width: 960px;
  top: 20px;
}
.appForm {
  background: #ffffff;
  margin: 5px;
}
.icon-chevron-left,
.icon-chevron-right,
.icon-chevron-down {
  background-image: url("../../images/glyphicons-halflings-white.png");
}
[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../../images/glyphicons-halflings-white.png");
}
a:hover .icon-chevron-left,
a:hover .icon-chevron-right,
a:hover .icon-chevron-down {
  background-image: url("../../images/glyphicons-halflings.png");
}
a:hover [class^="icon-"],
a:hover [class*=" icon-"] {
  background-image: url("../../images/glyphicons-halflings.png");
}
/* /form */