/* menu */
div.nav,
div.nav ul li {
  background-color: #84ba39 !important;
  background-repeat: repeat-x !important;
  background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%) !important;
}
div.nav ul li:hover,
div.nav ul li ul li:hover,
div.nav ul li.hover,
div.nav ul li ul li.hover {
  background-color: #68932d !important;
  background-repeat: repeat-x !important;
  background-image: -moz-linear-gradient(top, #68932d 0%, #68932d 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68932d), color-stop(100%, #68932d)) !important;
  background-image: -webkit-linear-gradient(top, #68932d 0%, #68932d 100%) !important;
  background-image: -ms-linear-gradient(top, #68932d 0%, #68932d 100%) !important;
  background-image: -o-linear-gradient(top, #68932d 0%, #68932d 100%) !important;
  background-image: linear-gradient(top, #68932d 0%, #68932d 100%) !important;
}
div.nav ul li:hover > a,
div.nav ul li:hover > span,
div.nav ul li:hover > a.nourl,
div.nav ul li ul li:hover > a,
div.nav ul li ul li:hover > span,
div.nav ul li ul li:hover > a.nourl,
div.nav ul li.hover > a,
div.nav ul li.hover > span,
div.nav ul li.hover > a.nourl,
div.nav ul li ul li.hover > a,
div.nav ul li ul li.hover > span,
div.nav ul li ul li.hover > a.nourl {
  color: #ffffff !important;
}
div.nav ul a,
div.nav ul span,
div.nav ul a.nourl {
  color: #ffffff !important;
}
/* end : menu */
/* fil d'ariane */
.chemincontainer {
  background: #c1dc9c;
}
/* end : fil d'ariane */
/* container */
.bandeaucontainer {
  background-color: #98c3da !important;
  background-repeat: repeat-x !important;
  background-image: -moz-linear-gradient(top, #98c3da 0%, #98c3da 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98c3da), color-stop(100%, #98c3da)) !important;
  background-image: -webkit-linear-gradient(top, #98c3da 0%, #98c3da 100%) !important;
  background-image: -ms-linear-gradient(top, #98c3da 0%, #98c3da 100%) !important;
  background-image: -o-linear-gradient(top, #98c3da 0%, #98c3da 100%) !important;
  background-image: linear-gradient(top, #98c3da 0%, #98c3da 100%) !important;
  color: #000000 !important;
}
.pagecontainer .donneescontainer .donnees,
.eXtremeTable .statusBar,
.eXtremeTable .filterButtons,
.eXtremeTable .filter,
.eXtremeTable .even {
  background-color: #e8f0e1;
}
.pagecontainer .ongletcontainer ul.onglet li,
.erreuronglet li,
.pagecontainer .ongletcontainer ul.onglet li a,
.erreuronglet li a,
.pagecontainer .ongletcontainer ul.onglet li.onlytext {
  background: #84ba39;
  color: #000000;
}
.pagecontainer .ongletcontainer ul.onglet li a:hover {
  background: #68932d;
}
.pagecontainer .ongletcontainer ul.onglet li.active,
.erreuronglet li.ongleterreuractive {
  background: #e8f0e1;
}
/* end : container */