.container .ongletcontainer ul.onglet, .erreuronglet,
.container .ongletcontainer ul.onglet li, .erreuronglet li{
	float:left;	
/* 	background: yellow; */
}

.container .ongletcontainer ul.onglet li.active {
/*     background: blue; */
    padding: 0 10px ! important;
}
.container .ongletcontainer ul.onglet li a{
/* 	background: red; */
	padding: 0 10px ! important;
	float : left;	
}


.chemincontainer a{
    background-image: url(../../../../composants/tagsapp/images/arrow_chemin_min_not_transparent.png) !important;
}

#overlay{
	display: none !important;
}

.pleaseWaitLoader {
position:absolute !important;
top:0 !important;
top: expression(documentElement.scrollTop+body.scrollTop - 100 + "px"); /* Correction */
left:45% !important;
width:30% !important;
}