/* 
    pagination 
*/

.page{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.prev, .next{
	padding: 3px 6px;
	border-radius: 0;
}

.currentpage{
	font-weight: bold;
	border: 1px solid #AAAAAA;
    padding: 0px 6px;
    background: #777777;
    color: white;
    font-size: 16px;
}

.eXtremeTable select.otherpages{
	width: auto;
	height: auto;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance : none;
	vertical-align: bottom;
}

.otherpage{
    white-space: nowrap;
}

div.otherpage div{
    display: none;
    opacity : 0;
    width: auto; 
	position: absolute;
	max-height: 132px;
	overflow-y: auto;
	overflow-x: hidden;
	background: white;
	/*border: 1px solid #AAA;*/ 
	padding-right:15px;

	-webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    
    -webkit-box-shadow : 3px 3px 5px #aaaaaa;
    -moz-box-shadow : 3px 3px 5px #aaaaaa;
    -ms-box-shadow : 3px 3px 5px #aaaaaa;
    -o-box-shadow : 3px 3px 5px #aaaaaa;
    box-shadow : 3px 3px 5px #aaaaaa;
}

div.otherpage span i{
    opacity : 0.5;
}

div.otherpage input, div.otherpage a{
    width: 100%; 
    display: block;
    clear: both;
}

div.otherpage:hover div{
    display:block;
    opacity : 1;
}

div.otherpage:hover span i{
    opacity : 1;
} 

.filter td.last{
	white-space: nowrap;
}


/* fin formulaire */

