.eXtremeTable {
    margin: 0;
    padding: 0;
}

.eXtremeTable select {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 9px;
    border: solid 1px #EEE;
    width: 75px;
}

.eXtremeTable .tableRegion {
    border: 1px solid silver;
    border-top: none; 
    padding : 2px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;    
}
/*
.eXtremeTable .inputfiltres {
    border-top: none;
    padding-top: 2px;
}*/

.eXtremeTable .filter {
    background-color: #F4F4F4;
}

.eXtremeTable .title {
    color: #444444;
    font-weight: bold;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    vertical-align: middle;
}

.eXtremeTable .titleRow {
    background-color: #F4F4F4;
}

.eXtremeTable .titleRow td {
    border-bottom: 1px solid #308dbb;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    text-align: center;
}

.eXtremeTable .titleRow span {
    color: #444444;
    font-weight: bold;
    font-size: 12px;
}

.eXtremeTable .filter input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    border: solid 1px grey;
    padding: 1px;
    width: 99%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.eXtremeTable .filter td.first input.compact {
    width: 95%;
}

.eXtremeTable .filter select {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 9px;
    border: solid 1px #EEE;
    width: auto;
}
/* Audit RGAA ajustement de la taille des filtres suivant la colonne */
.eXtremeTable .filter td {
    border-right: 1px solid rgba(255, 255, 255, 0);
    padding: 1px 3px;
    vertical-align: bottom;
    text-align: center;
}

.eXtremeTable td.filtres>button {
    display: "block";
    text-align: right;
    width: 56px;
}

/*********************************************************************/
.eXtremeTable .tableHeader {
    background-color: #227CA9;
    color: white;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: white;
}

.eXtremeTable .tableHeaderSort {
    background-color: #227CA9;
    color: white;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: white;
}

.eXtremeTable .odd a, .even a {
    color: Black;
    font-size: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.eXtremeTable .odd td, .eXtremeTable .even td, .eXtremeTable .calcRow td {
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    vertical-align: middle;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
}

.eXtremeTable .odd {
    background-color: #FFFFFF;
}

.eXtremeTable .even {
    background-color: #dfe4e8;
}

.eXtremeTable .highlight:hover td {
    color: black;
    font-size: 10px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    vertical-align: middle;
    background-color: #fdecae;
}

.eXtremeTable .highlight:hover a, .highlight:hover a {
    color: black;
    font-size: 10px;
}

.eXtremeTable .compactToolbar {
    background-color: #F4F4F4;
}

.eXtremeTable .toolbar {
    background-color: #F4F4F4;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 9px;
    margin-right: 1px;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.eXtremeTable .toolbar a:hover {
    background-color: transparent;
}

.eXtremeTable .toolbar td {
    color: #444444;
    padding: 0px 3px 0px 3px;
    text-align: center;
}

.eXtremeTable .separator {
    width: 7px;
}

.eXtremeTable div.statusBar {
    background-color: #F4F4F4;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    padding-bottom: 4px;
    border-top: 1px solid silver;
}

.eXtremeTable .filterButtons {
    padding: 2px;
    padding-top: 5px; 
    background-color : #F4F4F4;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    margin-bottom: -2px;
    margin-top: -3px;
    background-color: #F4F4F4;
}

.eXtremeTable .filterButtons fieldset{
    border:none;
    padding:2px;
}

.eXtremeTable .title span {
    margin-left: 7px;
}

.eXtremeTable .formButtons {
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}

.eXtremeTable .formButton {
    cursor: pointer;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: #308dbb;
    color: white;
    margin-top: 5px;
    border: outset 1px #333;
    vertical-align: middle;
}

.eXtremeTable .calcRow {
    background-color: #F4F4F4;
}

.eXtremeTable .calcTitle {
    background-color: #F4F4F4;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.eXtremeTable .calcResult {
    background-color: #F4F4F4;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-top: solid;
    border-top-width: 1px;
}

.eXtremeTable .statusbarnoresultsfound {
    font-style: italic;
    font-size: 10px;
}

/* new extremecomponent 2012 */
.eXtremeTable .toolbar.newPag {
    margin: 0 auto;
}

.eXtremeTable .toolbar a img {
    border: none;
}

/* Audit RGAA ajout de classes en remplacement des attributs de style */
.eXtremeTable *.alignRight {
    text-align: right;
}

.eXtremeTable *.noBorder, .eXtremeTable *.noBorder td, .eXtremeTable *.noBorder th {
    border: 0;
}

.eXtremeTable *.noPadding {
    padding: 0;
}

.eXtremeTable *.fullWidth {
    width: 100%;
}

.eXtremeTable .noCellPadding th, .eXtremeTable .noCellPadding td {
    padding: 0;
}

.eXtremeTable .noCellSpacing, .eXtremeTable .noCellSpacing {
    border-collapse: collapse;
}

.eXtremeTable .cellPadding1 th, .eXtremeTable .cellPadding1 td {
    padding: 1px;
}

.eXtremeTable .cellSpacing1, .eXtremeTable .cellSpacing1 {
    border-collapse: separate;
    border-spacing: 1px;
}

.eXtremeTable .cellSpacing2, .eXtremeTable .cellSpacing2 {
    border-collapse: separate;
    border-spacing: 2px;
}