/* Classes utilisees par la librairie de tags app*/
body,a,label,input,th,td,div,p,ul,li,select,form,textarea,caption,button
	{
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

body {
	background-color: rgb(235, 235, 251);
}

/* Classes du tag app:page */
/* mise en forme des differents blocs sur la page */

/* container principal de la page */
 {
	position: relative;
	top: 0%;
	text-align: center;
	min-height: 600px;
	height: auto;
	_height: 600px;
	overflow: visible;
	margin-right: auto;
	margin-left: auto;
	min-width: 770px;
	z-index: 1;
	_width: expression(( document.body.clientWidth < 780)?"770px":"100%");
}

/* container d'une page type popup */
.popupcontainer {
	position: relative;
	top: 0%;
	text-align: center;
	min-height: 600px;
	height: auto;
	_height: 300px;
	overflow: visible;
	margin-right: auto;
	margin-left: auto;
	min-width: 300px;
	z-index: 1;
	_width: expression(( document.body.clientWidth < 400)?"390px":"100%");
}

/* emplacement du menu javascript*/
 div.menu {
	position: absolute;
	left: 0px;
	text-align: left;
	top: 48px;
	width: 100%;
	float: left;
}

/* bandeau d'information en 3 parties */
 .bandeaucontainer {
	background-color: rgb(193, 193, 255);
	color: rgb(0, 0, 0);
}

 

 .bandeaucontainer  p.textebandeau {
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	font-style: normal;
}

/* container du titre de la page */
 .titredonneescontainer {
	top: 20px;
	left: 0%;
	text-align: center;
	margin-top: 0%;
}

/*Container des donnees de la page*/
/* container des ensembles onglets + donnees */
 .donneescontainer {
	position: relative;
	
	
	
	min-height: 522px;
	overflow: visible;
	text-align: left;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-bottom: 48px;
}



/* container d'information utilisateur sur un ecran d'accueil */
 .informationcontainer {
	position: relative;
	top: 120px;
	border: 1px solid rgb(24, 81, 132);
	text-align: center;
	width: 50%;
	margin-top: 0%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 150px !important;
}

/*Tag app:onglet*/
/* container des onglets */
 div.ongletcontainer {
	position: relative;
	top: 0px;
	left: 5%;
	height: auto;
	text-align: center;
	margin-top: 10px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

 .ongletcontainer ul.onglet {
	left: 0%;
	list-style-type: none;
	padding-bottom: 0;
	padding-left: 0px;
	margin-left: 0px;
	margin: 0;
	overflow:auto;
}

 .ongletcontainer ul.onglet li {
	float: left;
	height: 17px;
	background-color: rgb(193, 193, 255);
	color: rgb(255, 255, 255);
	padding: 0 0 0 0;
	margin: 2px 2px 0 2px;
	border: 1px solid rgb(0, 0, 0);
}

 .ongletcontainer ul.onglet li.active {
	border-bottom: 1px solid rgb(24, 81, 132);
	background-color: rgb(24, 81, 132);
	padding: 0 0 0 0;
}

 .ongletcontainer ul.onglet li.active a {
	color: #000;
}

 .ongletcontainer ul.onglet li.deactive {
	border-bottom: 1px solid rgb(24, 81, 132);
	background-color: rgb(238, 238, 238);
	color: rgb(187, 187, 187);
	padding: 0 0 0 0;
}

 .ongletcontainer ul.onglet a:hover {
	background: #fff;
}

/* container des donnees (en principe de formulaires)*/
 .donneescontainer .donnees {
	overflow: visible;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 10px 0px;
	border: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	background-color: rgb(251, 245, 235);
	position: relative;
}

/* donnees sous un container d'onglets */
 .donneescontainer .sousonglets {
	top: 0px;
	left: 5%;
	width: 90%;
	height: auto;
	border-top: 1px solid rgb(24, 81, 132);
}

 .donneescontainer .donneessousonglets {
	top: 13px;
	left: 5%;
	width: 90%;
	height: auto;
	overflow: visible;
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 10px 0px;
	border: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	background-color: rgb(251, 245, 235);
	position: relative;
}

/* error en haut de page pour tag disperrortop */

 .donneescontainer .one_column_left {
    width: 90%;
    text-align: left;
    margin: auto;
    padding-top: 10px; 
    padding-bottom:10px;    
}

 .donneescontainer .message_box {
   border: 1px solid #FF0000;
}

/*page de login */
 .donneescontainer .identification {
	padding: 15px 0px 10px 0px;
	left: 30%;
	top: 60px;
	height: auto;
	width: 40%;
}

 .donneescontainer .tableau {
	top: 0%;
	left: 0%;
	width: 100%;
	height: auto;
}

/* Classes du tag app:form */
.appForm {
	margin: 0;
	padding: 0;
}

form fieldset {
	width: 98%;
	clear: both;
	margin:auto;
}

.gteie9 .appForm fieldset{   
    border: 1px solid #CCC;    
    border-radius:8px;            
}

label {
	margin: 2px;
}

/* Tag appboxboutons*/
/*Bloc div contenant un groupe de boutons */
.appForm  div.boxboutons {
	clear: left;
	text-align: center;
	width: auto;
	height: auto;
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
	background-color: rgb(251, 245, 235);
}

/*Bloc div contenant des boutons caches*/
.appForm div.boxboutonscache {
	display: none;
}

/* Tag app:submit*/
/*Bouton "en ligne" utilisable dans un div de classe boxCompText*/
.boxCompText input {
	margin-top: -2px;
	padding: 0;
	margin-right: 0;
	margin-left: 0;
	border: 1px solid rgb(24, 81, 132);
	width: auto;
	color: rgb(0, 0, 0);
	text-align: center;
	vertical-align: baseline;
}

.boxCompText button.submit {
	margin-top: -2px;
	padding: 0;
	border: 1px solid rgb(24, 81, 132);
	width: auto;
	color: rgb(0, 0, 0);
	text-align: center;
	vertical-align: baseline;
}

.add-on {
	width: auto !important;
	min-width: 16px;
	height: 16px;
	padding: 4px 8px;
}

/*Bouton dans un div de classe boxboutons*/
.appForm .boxboutons input:hover {
	color: rgb(238, 238, 238);
}

.appForm .boxboutons input {
	margin: 0;
	padding: 1px 2px 1px 2px;
	border: 1px solid rgb(24, 81, 132);
	width: auto;
	color: rgb(0, 0, 0);
	text-align: center;
}

.appForm .boxboutons input.submit {
	background-color: rgb(211, 211, 211);
}

.appForm .boxboutons input.submit[disabled] {
	color: rgb(128, 128, 128);
}

.appForm .boxboutons input.annul {
	background-color: rgb(211, 211, 211);
}

.appForm .boxboutons input.init {
	background-color: rgb(211, 211, 211);
}

.appForm .boxboutons input.aide {
	color: rgb(153, 51, 102);
	background-color: rgb(235, 235, 251);
}

.appForm .boxboutons input.retour {
	background-color: rgb(211, 211, 211);
}

/*bouton submit cache */
.appForm .boxboutons input.cache {
	display: none;
}

/* pied de page */
.piedpagecontainer {
	position: relative;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 48px;
	background-color: rgb(193, 193, 255);
	color: rgb(0, 0, 0);
	margin-top: 48px;
}

.piedpagecontainer p.textepiedpage {
	/*remplacement de margin par padding pour compatibilite firefox*/
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	font-style: normal;
}

/* Classes du tag app:disperrorfix*/
.popboxerreurclass {
	position: absolute;
	left: 10%;
	top: 20px;
	width: 80%;
	height: 80px;
}

.popboxerreurclass div.popbt {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	cursor: pointer;
	border: 1px solid #C7003C;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #FFD3D3;
}

.popboxerreurclass div.popimg {
	position: absolute;
	top: 0%;
	left: 3px;
	width: 20px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: none;
}

.popboxerreurclass div.popferm {
	position: absolute;
	top: 2px;
	right: 1px;
	width: 20px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: none;
}

.popboxerreurclass div.popmsg {
	position: absolute;
	top: 23px;
	left: 0%;
	width: 100%;
	border: 1px solid #C7003C;
	color: #C7003C;
	background-color: #FFD3D3;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
}

.popboxerreurclass .popbt h1 {
	font-size: 120%;
	line-height: 23px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	padding-left: 20px;
	background-color: #C7003C;
	text-align: left;
}

/*Classes utilisees par le tag app:wait*/
.pleaseWait {
	display: none;
	position: absolute;
	top: 30%;
	left: 35%;
	width: 30%;
	border: 1px solid black;
	background-color: #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 700
}

.pleaseWait h1 {
	font-size: 130%;
	line-height: 16px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: black;
	background: none;
	text-align: center;
}

.pleaseWait img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	border: 1px solid black;
	width: 75px;
	height: 15px;
}

/*Classes utilisees par le tag app:wait  alternative avec loader.gif*/
.pleaseWaitLoader {
	display: none;
	font-size: 10px;
	position: absolute;
	top: 30%;
	left: 35%;
	width: 30%;
	border: 1px solid black;
	background-color: rgb(255, 255, 255);
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 700
}

.pleaseWaitLoader h1 {
	font-size: 130%;
	line-height: 16px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: black;
	background: none;
	text-align: center;
}

.pleaseWaitLoader img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 0px;
	text-align: center;
}

/* Classes pages d'erreur*/

/* message */

/*onglets et formulaire */
div.erreurongletcontainer {
	position: absolute;
	top: 120px;
	left: 10%;
	width: 80%;
	height: 20px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	color: #C7003C;
	background-color: #FFD3D3;
	text-decoration: none;
}

/* container des donnees (en principe de formulaires)*/
.erreurdonnees {
	overflow: auto;
	top: 140px;
	left: 10%;
	width: 80%;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	border: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	background-color: rgb(251, 245, 235);
	position: relative;
}

.erreuronglet {
	left: 0%;
	list-style-type: none;
	padding-bottom: 20px;
	padding-left: 0px;
	color: #C7003C;
	background-color: #FFD3D3;
	margin-left: 0px;
	border-bottom: 1px solid rgb(24, 81, 132);
	margin: 0;
}

.erreuronglet li {
	float: left;
	height: 17px;
	color: #C7003C;
	background-color: #FFD3D3;
	padding: 0 0 0 0;
	margin: 2px 2px 0 2px;
	border: 1px solid rgb(0, 0, 0);
}

li.ongleterreurdesactive {
	border-bottom: 1px solid rgb(24, 81, 132);
	color: #C7003C;
	background-color: #FFD3D3;
	text-decoration: none;
	padding: 0 0 0 0;
}

li.ongleterreuractive {
	border: 1px solid rgb(0, 0, 0);
	background-color: #C7003C;
	padding: 0 0 0 0;
}

.ongleterreurdesactive a.liendetailerreur {
	float: left;
	display: block;
	color: #C7003C;
	background-color: #FFD3D3;
	text-decoration: none;
}

.ongleterreuractive a.liendetailerreur {
	float: left;
	display: block;
	color: #FFD3D3;
	background-color: #C7003C;
	text-decoration: none;
}

.erreuronglet a:hover {
	background: #fff;
	color: #000;
}

/*Classes utilisee pour centrer un tableau*/
/*uniquement pour IE*/
div.centerTable {
	text-align: center;
}

/* classes pour affichage des textes informatifs et titres*/
p.titrepage {
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: underline;
	margin-top: 0%;
}

/* sous-titres dans un donneescontainer*/
p.titre {
	text-align: center;
	background-color: #D9D9D9;
	width: 96%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	font-weight: bold;
}

p.titrehaut {
	text-align: center;
	background-color: #F0F0F0;
	width: 96%;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 2%;
	font-weight: bold;
}

/* titre des tableaux (pages d'affichages)*/
p.titretableau {
	text-align: center;
	background-color: transparent;
}

/* commentaire (aide aux utilisateurs */
p.commentaire {
	text-align: center;
	background-color: #F0F0F0;
	width: 80%;
	margin-left: 10%;
	margin-top: 5px;
	font-size: 90%;
}

/*Classes utilisée pour le tag tree */
table.tree {
	align: left;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

td.tree {
	align: left;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

td.treetexte {
	align: left;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

tr.tree {
	align: left;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

img.tree {
	align: left;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

a.tree {
	color: black;
	text-decoration: none;
}

a.tree:hover {
	text-decoration: underline;
}

span.nodeselected {
	font-weight: bold;
	text-decoration: none;
}

span.nodeunselected {
	font-weight: normal;
	text-decoration: none;
}

/* Fermeture du pop up de la nouvelle charte sur display=none pour compatibilité IE6*/
#newboite_cls {
	display: none;
}

/* Infos-bulles adaptée à la coexistence nouvelle/ancienne ergonomie. */
.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	visibility: visible;
	padding: 2px;
	font-size: 11px;
	opacity: 0;
	filter: alpha(opacity = 0);	
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.tooltip.top {
	margin-top: -2px;
}

.tooltip.right {
	margin-left: 2px;
}

.tooltip.bottom {
	margin-top: 2px;
}

.tooltip.left {
	margin-left: -2px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 1px 3px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	background-color: #FFFFCC;
	border : 1px solid black;		
}
