/* page login */

 .donneescontainer .identification {
	padding: 15px 0px 10px 0px;
	top: 60px;
	left: auto;
	height: auto;
	width: 500px;
	margin: 0 auto;
	background: #f5f5f5;
	border: 1px solid #CCC;
	padding: 5px 10px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: inset 0px 1px 1px white;
	-moz-box-shadow: inset 0px 1px 1px white;
	box-shadow: inset 0px 1px 1px white;
}


.Vnormal div.boxlblText, .Vlecture div.boxlblText, .Vrequis div.boxlblText, .boxboutons  div.boxlblText{    
	width : 100px;  
	display: inline-block;
}


 .donneescontainer .Vrequis {
	display: block;
	width: 362px;
	margin : 0 auto;
}
 .donneescontainer .Vrequis .labelText{
    line-height: 24px;
}

 .donneescontainer .identification input{ 
    width: auto;
}
/* fin : page login */



/***** FORMULAIRE *****/

fieldset{
    font-weight: bold;
}

label{
    cursor: pointer;
}

input[type=text], input[type=password], textarea,label.inputText, select {
    
    border-radius: 3px;
    border: 1px solid #aaaaaa !important;
    outline: none;
    background-color: white !important;
    font-size: 12px;
    height: auto;   
    min-height: 18px;
    padding: 3px !important;   
    margin-bottom: 2px;
    
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

select{
    height: auto;
    height: 28px;
    line-height: 28px;  
}

select[multiple]{
    height: auto;
}

textarea{
    height: auto;
}

input[type=text]:focus, input.inputText:focus, input[type=password]:focus, textarea:focus, select:focus {      
    border-color: rgb(82, 168, 236) !important;        
    outline: 0;

    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow:    inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow:         inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    

}

div.boxGrpRadioChk{
    border: 1px dotted #AAA;
    border-radius: 5px;
}

.vnormal div.boxtext, .verreur div.boxtext, .vlecture div.boxtext, .vrequis div.boxtext,
.vnormal div.boxlbltext, .vlecture div.boxlbltext, .vrequis div.boxlbltext {
    height: auto;
}


/* champ en lecture seule */

.Vlecture .boxText input.inputText{
    border : 0 !important;
    background-color: white !important;
    box-shadow : none;
    padding: 4px !important;
}

.Vlecture .boxText input.inputText:hover, .Vlecture .boxText input.inputText:focus{    
    padding: 4px !important;
    border: 0 !important;    
    
    -webkit-box-shadow :    none;
    -moz-box-shadow :       none;
    box-shadow :            none;
}


label.inputText{ /* faux champ input en lecture seule pour la "saisie" d'une date */
    cursor : not-allowed;
}

input:-moz-placeholder{
   color: #bbb;
    text-align: left;
}

::-webkit-input-placeholder {
    color: #bbb;
    text-align: left;
}


.appForm div.boxboutons{
    background-color: transparent;
    border-top: 1px solid #CCC;
    
    -webkit-box-shadow: inset 0 1px 0px white;
    -moz-box-shadow:    inset 0 1px 0px white;
    box-shadow:         inset 0 1px 0px white;
}

/* boutons de formulaire */

button, .btn , .appForm .boxboutons input.submit,.appForm .boxboutons input.primary, input.primary , .boxCompText button.submit , .boxCompText input,  input.submit{
    display: inline-block;
    padding: 6px 15px;
    padding: 4px 10px 4px;
    font-size: 13px;
    line-height: 18px;

    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    
    background-color: #FAFAFA;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
    background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
    background-image: linear-gradient(white, white 25%, #E6E6E6);
    background-repeat: no-repeat;
    
    border: 1px solid #aaaaaa;
    
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    border-radius:          4px;
    
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    
    cursor: pointer;
}


/* bouton plus gros pour les boutons en bas de formulaire */

.btn-large{
    font-size: 14px;
    line-height: normal;
    padding: 9px 14px 9px;
    
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
}

.btn-mini {
	padding: 2px 6px;
	font-size: 12px;
	line-height: 12px;
}

button:hover, .btn:hover, .appForm .boxboutons input.submit:hover, .boxCompText button.submit:hover, .boxCompText input:hover,
input.primary:hover, .appForm .boxboutons input.primary:hover, input.submit:hover {
    -webkit-box-shadow: 0px 1px 3px #ccc;
    -moz-box-shadow:    0px 1px 3px #ccc;
    box-shadow:         0px 1px 3px #ccc;
}
button:focus, button:active,
.btn:focus, .btn:active,
.appForm .boxboutons input.submit:focus, .appForm .boxboutons input.submit:active, .boxCompText button.submit:active, .boxCompText button.submit:focus,
.boxCompText input:active, .boxCompText input:focus, input.submit:active, input.submit:active{    
    top: 1px;
    
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled, .btn[disabled], button.disabled, button[disabled] {
	cursor: default;
	background-image: none;
	background-color: #E6E6E6;
	
	opacity: 0.65;
	filter: alpha(opacity=65);
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* bouton d'action "primaire" */
input.primary, .appForm .boxboutons input.primary, .primary{
    background-color: #006DCC;
    background-repeat: repeat-x;
    
    background-image: -moz-linear-gradient(top, #08C, #04C);
    background-image: -ms-linear-gradient(top, #08C, #04C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
    background-image: -webkit-linear-gradient(top, #08C, #04C);
    background-image: -o-linear-gradient(top, #08C, #04C);
    background-image: linear-gradient(top, #08C, #04C); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    
    border-color: #04C #04C #002A80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
    
    -webkit-transition :    all .3s ease-out;
    -moz-transition :       all .3s ease-out; 
    transition :            all .3s ease-out;
}

/* hover */
input.primary:hover, input.primary:active, input.primary.active, input.primary.disabled, input.primary[disabled],
.appForm .boxboutons input.primary:hover, .appForm .boxboutons input.primary:active, .appForm .boxboutons input.primary.active
    , .appForm .boxboutons input.primary.disabled, .appForm .boxboutons input.primary[disabled] {    
    background-color: #0044cc;
}

/* focus */
input.primary:focus, input.primary.active,
.appForm .boxboutons input.primary:focus, .appForm .boxboutons input.primary:active
 {
    background-color: #003399 \9;
    box-shadow: inset 0px 0px 3px #000;
    top: 1px;
}

input.readonly, input.disabled, .Vlecture .boxText input.inputText.readonly{
	color : black !important;
	background: transparent !important;
}

.input-append {
	border-right: 0;
	
	-webkit-border-radius: 3px 0 0 3px !important;
	-moz-border-radius: 3px 0 0 3px !important;
	border-radius: 3px 0 0 3px !important;
}

.add-on{
    display: inline-block;
	width: auto !important;
	min-width: 16px;
	height: 16px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	vertical-align: middle;
	background-color: #EEE;
	border: 1px solid #aaa;
	margin: 2px 2px 2px -3px;
	
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;	
}

/* regle RGAA [PRé]-03, l'image d'érreur/warning est affiché directement avec l'attribut IMG 
et non en passant par la regle CSS background-image (qui ne permet pas de texte alternatif ALT)*/
.Herreur div.boxlblText, .Verreur div.boxlblText {
	float: left;
	display: block;
	height: auto;
	background-image: none;
}

.eXtremeTable select {
	height: auto;
	width: auto !important;
	padding: 0 !important;
	font-size: 10px !important;
}



.filter td.last{
	white-space: nowrap;
}

.filter td.last input {
    vertical-align: top;
}

.tableHeaderSort{
	cursor: pointer;
}

/* fin formulaire */
