/***** GENERAL *****/

body {
    background-color: #fff;
    margin: 0; 
    color: #333;
    border : 0; 
}

img, .Vnormal .boxText img, .Vrequis .boxText img, .Vlecture .boxText img, .Verreur .boxText img,
img:hover, .Vnormal .boxText img:hover, .Vrequis .boxText img:hover, .Vlecture .boxText img:hover, .Verreur .boxText img:hover
{
    border: 0;
}

a, a:visited{
    color: #0000FF;    
}
a:hover{
    text-decoration : underline;
}

body, a, label, input, th, td, div, p, ul, li, form, textarea, caption ,select,button {
    font-size: 1.6rem!important;
}




/* header */

#header-action a{
    vertical-align: top;
    margin-right: 5px;
    
    background-color: #FAFAFA;
    text-shadow: none;line-height: 0;
}

#header-action a img{
    height: 20px;
    border: 0;
    
}

#header-action{
    white-space: nowrap;
}


#header-action a#incfont, 
#header-action a#decfont, 
#header-action a#resetfont{
    font-size: 20px !important;
    height: 17px;
    line-height: 18px;
    text-decoration: none;
    
    color: black;
    padding: 4px 5px;
    display: inline-block;
    vertical-align: top;
    
    border-right: 0;
    border-radius: 0;
    margin: 0;
}

#header-action a#resetfont span{
    font-size: 14px !important;
    font-weight: bold;
}

#header-action a#decfont{
    border-radius: 5px 0 0 5px;
 }
#header-action a#incfont{
    border-radius: 0  5px  5px 0;
    margin-right: 5px;
 }
 
  

/***** CONTENANT *****/

.bandeaucontainer{
    position:relative !important;

    background: #333; /* noir */
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    
    color : white !important;
    
    height: auto !important;
    *height: 200px; /* hack pour donner une taille a IE6 ou IE7, pour faire passer le height auto*/
}

.piedpagecontainer {
    background-color: #EEE;
    background-repeat: repeat-x;
    
    background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
    background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    
    -webkit-box-shadow: 0 1px 10px #aaa;
    -moz-box-shadow: 0 1px 10px #aaa;
    box-shadow: 0 1px 10px #aaa;
    
    margin : 0;
    height:  auto;
}

.donneescontainer .donnees {
    background-color: #f5f5f5;
    border : 1px solid #aaa;
}

.donneescontainer .sousonglets {
    left: 0;
    top : 0;
    width: 100%;

}

#donnees.eXtremeTable {
    overflow-x:auto !important;
}

/* onglet */

.donneescontainer div.ongletcontainer {
position: relative;
top: 0;
left: 0;
width: 100%;

height: auto;
text-align: left;
margin-top: 10px;
color: black;
text-decoration: none;
}


*+ html .donneescontainer  div.ongletcontainer  { /* css only for IE */
  float: left;
}

div.ongletcontainer .sousonglets {
    border-top: 0 !important;
}

.donneescontainer  .ongletcontainer ul.onglet{
border-bottom: 1px solid #aaa;
padding: 0;
width: 100%;
overflow: visible;    
}

.donneescontainer  .ongletcontainer ul.onglet li, .erreuronglet li {
height: 32px;
color: black;
padding: 2px 5px;
padding : 0;
margin: 0 5px 0 0;

display: inline-block;
line-height: 32px;
/* border: 1px solid #aaa; */
border-bottom: 0;
float: none;
background: #96989D;


border-radius: 5px 5px 0 0;
border: 0;
}


.donneescontainer  .ongletcontainer ul.onglet li.active, .erreuronglet li.ongleterreuractive{
background: #f5f5f5;
font-weight: bold;
border-bottom: 0;
padding: 2px 5px 3px 5px;
padding: 5px 15px 3px 15px;
margin-bottom: -1px;

border: 1px solid #aaaaaa;
border-bottom: 0;
}

*+ html .donneescontainer  .ongletcontainer ul.onglet li  { /* css only for IE */
  float: left;
}

.donneescontainer  .ongletcontainer ul.onglet li a, .erreuronglet li a,   .ongletcontainer ul.onglet li.onlytext{
    color : black;
    text-decoration: none;
    
    padding: 10px 15px; 
    font-weight: normal; 
    BORDER: 1PX SOLID #aaaaaa;
    
    background: #DDD;
    
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    
    -webkit-transition : all 0.1s ;
    -moz-transition : all 0.1s ;
    transition : all 0.1s ;
}

.donneescontainer  .ongletcontainer ul.onglet li.onlytext{
    padding : 2px 5px;
    border-bottom: 0;
}

.donneescontainer  .ongletcontainer ul.onglet li a:hover{
    background : #adb0b5;
    color : white;
    text-shadow: #7B7D82 0 1px 0;
}


/* onglet de la page d'erreur */

.erreuronglet li{
    padding: 0 !important;
    float: left;
}   


.popboxerreurclass {
    position: relative;
    width: 800px;
    margin: 0 auto;
    left : auto;
    top : auto;
}

.popboxerreurclass div.popmsg {
    background: white;
    padding: 5px 0px;
}

div.erreurongletcontainer{
    position: relative;
    top: 50px;
    left: auto;
    width: 800px;
    margin: 0 auto;
    background: transparent;
}

#rapportform{
    position: relative;
    display: block;
    top: 55px;
    left: -20px;    
}

#rapportform > div {
    float: left;    
}

.erreurdonnees{
    top : 0;
    position: relative; 
    padding: 5px 10px;
}   

.erreuronglet{
    background: transparent;
    border: 0;
}

.erreuronglet li.ongleterreuractive{
    border : 0;
    
}

.erreuronglet li.ongleterreuractive a{
    cursor : default;
}

.erreuronglet li.ongleterreurdesactive a{
    color : black;
    padding: 2px 10px;
}

.erreuronglet li.ongleterreuractive a, .erreuronglet li.ongleterreurdesactive a:hover{
    background: white;
    color : #C7003C;
    padding: 2px 10px;
}

/* chemin */

.chemincontainer{
         
    margin: 0 0 18px;
    border: 1px solid #aaaaaa;
    
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
    background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    padding-left: 10px;
    width: 100%;
}

.chemincontainer  > ul {
    margin:0;
}

.chemincontainer > ul > li > a , .chemincontainer > ul > li > span{
    padding-right: 8px; 
}

.chemincontainer >  ul > li:first-child > a , .chemincontainer > ul > li:first-child > span {
    padding-left: 0;
     
}

.chemincontainer > ul > li:last-child {   
     background:none;
}

.chemincontainer  a , .chemincontainer  span{   
   color:initial!important;
}

.home{
    background : url(../../../../composants/tagsapp/images/home.png) center no-repeat;
    height: 28px;
    width: 16px;
    float: left;
}

.homeOld{
    display:none;
}

#boite_b {  
    box-shadow : 0 0 10px #aaa;
    border-radius : 5px;
    }

#boite_b, #boite_c{    
    color: black !important;
    background-color: white !important;
    border: 1px solid #aaaaaa  !important;
}
    
#boite_c{
    border : 0 !important;
    border: 1px solid #DDD !important;
    margin: 3px !important;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    overflow: auto !important;
}

 #boite_t{
    cursor: move !important;
    background: #DDD !important;
    border-radius: 5px 5px 0 0;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    height: 24px !important;
    position: relative !important;


    /* mini logo */
    background: #dddddd !important;
    top: auto !important;
    height: 24px !important;
}
 
#boite_t span{
    color : black !important;
    line-height: 24px !important;
    margin-left: 5px;
}
  
#boite_t #titletext{
    height: 24px !important;
    padding-left: 18px;
    background: url(../../../../composants/tagsapp/images/information.png)  no-repeat left center;
    height: auto;
}
 
 #boite_min, #boite_max, #boite_cls{ 
    display: none;
}
 
 #newboite_cls{
    cursor: pointer !important;
    float: right;   
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 5px;
    line-height: 15px;
    font-size: 25px;
    display : inline;
}
 
#button_cls{
    position: absolute;
    right: 0;
    bottom: 0;
}
 
#boite_rs{
    cursor: se-resize !important;
}
 
/*
 loading message 
 */
.pleaseWaitLoader{
    display: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #AAA;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    
    background-color: #FAFAFA;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
    background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
    background-image: linear-gradient(white, white 25%, #E6E6E6);
    
    -webkit-box-shadow: 1px 1px 5px #AAA;
    -moz-box-shadow: 1px 1px 5px #AAA;
    box-shadow: 1px 1px 5px #AAA;
    
    position: fixed;
    top: 40%;
    
    width: 300px;
    /* center */
    left: 50%;
    margin-left: -150px;
}

.pleaseWaitLoader img#waitimg{
    width: 32px;
}

a#waitMsg{
    text-decoration: none;
    color: black;
}

#overlay{
    display: none;
    height: 100%;
    background: black;
    width: 100%;
    position: fixed;
    z-index: 600;
    float: left;
    top: 0;
    left: 0;
    opacity: 0.2;
    filter: Alpha(Opacity=20);
}

.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);  
  
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tooltip.top {
    margin-top: -1px;
}
.tooltip.right {
    margin-left: 1px;
}
.tooltip.bottom {
    margin-top: 1px;
}
.tooltip.left {
    margin-left: -1px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    box-shadow : 0 0 5px white;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*
 tah DETAILS (html5)
*/

details, .html5_details{
    margin: 10px;   
}

.html5_details{
    margin: 10px;   
}


.html5_details .opened{
    display: none;
    margin-right : 5px;
}

.html5_details .closed{
    display: block;
    float: left;
    margin-right : 5px;
}

.html5_details.open  .opened{
    display: block;
    float: left;
}

.html5_details.open  .closed{
    display: none;
}

.summary,  summary {        
    border-radius:5px;
    padding: 5px 10px;
    cursor:pointer;
    border: 1px solid #aaaaaa;
    display: block;
    font-weight: normal;
}

 .donneescontainer .one_column_left {
    width: 100%;
    text-align: left;
    margin: auto;
    padding-top: 10px; 
    padding-bottom:10px;    
}

 .donneescontainer .message_box {
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}

 