/**Classes du theme HEncadre 
Les controles du formulaire sont places les uns a cote des autres */

.HEncadrenormal,
.HEncadreerreur,
.HEncadrelecture,
.HEncadrerequis
{
  float: left;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  _height: 20px;
  min-height: 20px;
}

.HEncadreerreur  {
  color: #C7003C;
  border-style: none;
}

/* Classes du tag app:input */

.HEncadrenormal div.boxlblText,
.HEncadrelecture div.boxlblText,
.HEncadrerequis div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  background-color: rgb(255,236,217); 
  color: #6F6FC9;
  border: 1px solid #c1c1ff;
  text-align: right;
  vertical-align: middle;
}

.HEncadreerreur div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  border: solid 1px;
  height: 20px;
}

.HEncadrenormal div.boxText,
.HEncadreerreur div.boxText,
.HEncadrelecture div.boxText,
.HEncadrerequis div.boxText
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  color: #6F6FC9;
  height: 100%;
}

.HEncadrenormal .boxlblText label.labelText,
.HEncadreerreur .boxlblText label.labelText,
.HEncadrelecture .boxlblText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.HEncadrerequis .boxlblText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.HEncadrenormal .boxText input.inputText,
.HEncadreerreur .boxText input.inputText,
.HEncadrelecture .boxText input.inputText,
.HEncadrerequis .boxText input.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.HEncadrenormal .boxText input.inputText,
.HEncadreerreur .boxText input.inputText,
.HEncadrerequis .boxText input.inputText
{
  border: 1px groove #000000
}

.HEncadrelecture .boxText input.inputText
{
  border-style: none;
  background-color : transparent;
}

.HEncadrenormal .boxText textarea.inputText,
.HEncadreerreur .boxText textarea.inputText,
.HEncadrelecture .boxText textarea.inputText,
.HEncadrerequis .boxText textarea.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.HEncadrenormal .boxText textarea.inputText,
.HEncadreerreur .boxText textarea.inputText,
.HEncadrerequis .boxText textarea.inputText
{
  border: 1px groove #000000
}

.HEncadrelecture .boxText textarea.inputText
{
  border-style: none;
  background-color : transparent;
  overflow: auto;
}

.HEncadrenormal .boxText select,
.HEncadreerreur .boxText select,
.HEncadrerequis .boxText select
{
  margin: 1px 0px 0px 3px;
}

.HEncadrelecture .boxText select
{
  margin: 1px 0px 0px 3px;
}

.HEncadrenormal .boxText label.labelText,
.HEncadreerreur .boxText label.labelText,
.HEncadrelecture .boxText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.HEncadrerequis .boxText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.HEncadrenormal div.boxCompText,
.HEncadreerreur div.boxCompText,
.HEncadrerequis div.boxCompText,
.HEncadrelecture div.boxCompText
{
  float: left;
  display: block;
  margin: 3px 0px 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  vertical-align: middle;
}

/* Classes des tags app:radio et app:checkbox */
/* Radio et checkbox places les uns en dessous des autres*/
/*theme=HEncadre*/

.HEncadrenormal .boxlblGrpRadioChk,
.HEncadreerreur .boxlblGrpRadioChk,
.HEncadrelecture .boxlblGrpRadioChk,
.HEncadrerequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  background-color: rgb(255,236,217); 
  color: #6F6FC9;
  border: 1px solid #c1c1ff;
  text-align: right;
  vertical-align: middle;
}

.HEncadreerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
 /* background-image: url(../images/errInput.gif);*/
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}

.HEncadrenormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.HEncadreerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.HEncadrelecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
}

.HEncadrerequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

.HEncadrenormal div.boxGrpRadioChk,
.HEncadreerreur div.boxGrpRadioChk,
.HEncadrelecture div.boxGrpRadioChk,
.HEncadrerequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  vertical-align: middle;
  width: auto;
  color: #6F6FC9;
  height: auto;
}

.HEncadrenormal .boxGrpRadioChk label.lblRadioChk,
.HEncadreerreur .boxGrpRadioChk label.lblRadioChk,
.HEncadrelecture .boxGrpRadioChk label.lblRadioChk,
.HEncadrerequis .boxGrpRadioChk label.lblRadioChk
{
  display: block;
  text-align: left;
  font-weight: normal; 
  vertical-align: middle;
}

.HEncadrenormal .boxGrpRadioChk .lblRadioChk input.checkbox,
.HEncadreerreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.HEncadrelecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.HEncadrerequis .boxGrpRadioChk .lblRadioChk input.checkbox
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.VEncadrenormal .boxGrpRadioChk  .lblRadioChk input.radio,
.VEncadreerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.VEncadrelecture .boxGrpRadioChk .lblRadioChk input.radio,
.VEncadrerequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

/* Radio et checkbox placés les uns à côté des autres*/
/* Classes des tags app:radio et app:checkbox */
/* Theme = HHEncadre*/
.HHEncadrenormal,
.HHEncadreerreur,
.HHEncadrelecture,
.HHEncadrerequis
{
  float: left;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  _height: 20px;
  min-height: 20px;
}

.HHEncadreerreur  {
  color: #C7003C;
  border-style: none;
}

.HHEncadrenormal .boxlblGrpRadioChk,
.HHEncadreerreur .boxlblGrpRadioChk,
.HHEncadrelecture .boxlblGrpRadioChk,
.HHEncadrerequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  background-color: rgb(255,236,217); 
  color: #6F6FC9;
  border: 1px solid #c1c1ff;
  text-align: right;
  vertical-align: middle;
}

.HHEncadreerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  /*background-image: url(../images/errInput.gif);*/
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}

.HHEncadrenormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.HHEncadreerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.HHEncadrelecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
}

.HHEncadrerequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

.HHEncadrenormal div.boxGrpRadioChk,
.HHEncadreerreur div.boxGrpRadioChk,
.HHEncadrelecture div.boxGrpRadioChk,
.HHEncadrerequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  vertical-align: middle;
  width: auto;
  color: #6F6FC9;
  height: auto;
}

.HHEncadrenormal .boxGrpRadioChk label.lblRadioChk,
.HHEncadreerreur .boxGrpRadioChk label.lblRadioChk,
.HHEncadrelecture .boxGrpRadioChk label.lblRadioChk,
.HHEncadrerequis .boxGrpRadioChk label.lblRadioChk
{
  text-align: left;
  font-weight: normal; 
  vertical-align: baseline;
}

.HHEncadrenormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.HHEncadreerreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.HHEncadrelecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.HHEncadrerequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.HHEncadrenormal .boxGrpRadioChk  .lblRadioChk input.radio,
.HHEncadreerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.HHEncadrelecture .boxGrpRadioChk .lblRadioChk input.radio,
.HHEncadrerequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}


.HHEncadrenormal div.boxCompRadioChk,
.HHEncadreerreur div.boxCompRadioChk,
.HHEncadrerequis div.boxCompRadioChk,
.HHEncadrelecture div.boxCompRadioChk
{
  float: left;
  margin-left: 2px;
  padding: 2px 0.3% 2px 0.3%;
}

.HEncadrenormal div.boxGlobal,
.HEncadreerreur div.boxGlobal,
.HEncadrelecture div.boxGlobal,
.HEncadrerequis div.boxGlobal
{
  margin: 0px 0px 0px 0px;	
  padding: 0px 2px 2px 2px;
  float: left;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  text-align: left; 
  width: auto;
  color: #6F6FC9;
  height: 100%;
  display :inline;
}

.HEncadrenormal div.boxFile,
.HEncadreerreur div.boxFile,
.HEncadrelecture div.boxFile,
.HEncadrerequis div.boxFile
{
  margin: 0.1em 0px 0px 0px;	
  padding: 3px 0px 0px 0px;
  float: left;
}

.HEncadrenormal div.boxFile label,
.HEncadreerreur div.boxFile label,
.HEncadrelecture div.boxFile label,
.HEncadrerequis div.boxFile label
{
  zoom:1; /*clear float*/
  overflow:hidden; /*clear float*/
  float:left;
  position:relative;
  background-color: rgb(212,208,200);
  text-align: center;
  color : rgb(0,0,0);
  border: 1px solid rgb(0,0,0);
  font-size: 11px;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 0px;	
}

.HEncadrelecture div.boxFile label
{
  border-style: none;
}

.HEncadrenormal div.boxFile label input,
.HEncadreerreur div.boxFile label input,
.HEncadrelecture div.boxFile label input,
.HEncadrerequis div.boxFile label input
{
  width:auto;
  position:absolute;
  right:0;
  top:0;
  border:none;
  font-size:5em;
  line-height:12px;
  opacity:0;
  filter:alpha(opacity=0);
}



.HEncadrenormal div.boxFauxInput,
.HEncadreerreur div.boxFauxInput,
.HEncadrelecture div.boxFauxInput,
.HEncadrerequis div.boxFauxInput
{
  margin: 0px 0px 0px 0px;	
  padding: 0.3em 3px 0px 0px;
  float: left;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  height: 100%;
}

.HEncadrenormal div.boxFauxInput input,
.HEncadreerreur div.boxFauxInput input,
.HEncadrelecture div.boxFauxInput input,
.HEncadrerequis div.boxFauxInput input
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  border: 1px groove #000000;
}

.HEncadrelecture div.boxFauxInput input
{
  border-style: none;
  background-color : transparent;
}