/* menu pure css */

div.nav{
	
	height: 32px ;	
	width: 100% ;      
	
	border-bottom: 1px solid #aaaaaa;
	background-color: #fff;
	
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px #aaa;
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px #aaa;
	box-shadow: inset 0 1px 0 #fff , 0 1px 5px #aaa;
	
 	position: relative; 
 	top: 0 ; 
 	float: none; 
	
	-webkit-transition : all  .1s ease-out;
    -moz-transition : all  .1s ease-out;
    -ms-transition : all  .1s ease-out;
    transition : all  .1s ease-out;
}

div.nav ul {       
    z-index: 597;       
      
    margin : 0;
    padding : 0;
    
    text-align : center;
    
    float : right;
    position:relative;    
    right:50%; /* workaround pour centrer les li flottants */   
    
}

div.nav ul *{
    -webkit-transition : all  .1s ease-out;
    -moz-transition : all  .1s ease-out;
    -ms-transition : all  .1s ease-out;
    transition : all  .1s ease-out;
}

div.nav ul li {
    padding: 7px 10px;
    min-width: 75px;
    width: auto;
    float: left;
    line-height: 1.3em; 
    
    position: relative; 
    left:50%; /* workaround pour centrer les li flottants */ 
        
    z-index: 596;
        
    list-style: none;
    margin: 0;
    padding: 0; 
    
    border-right: 1px solid #cccccc;
    
    background : #EBEBEB; /* Fallback */   
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */   
          
}


div.nav ul li ul li{
    display: block;
    float: none;
    white-space: nowrap;
    width:auto;
    
    z-index: 597;
    
    border-bottom: 1px solid #dddddd;
    
    box-shadow : 1px 1px 5px #aaaaaa;
    
    left:auto;
     
}

div.nav ul a, div.nav ul span {
    display: block;
    padding: 7px 10px;
    text-decoration : none;    
}



div.nav ul ul {
  
    
    position: absolute;
    top: 100%;
    left: -1px;
    right : auto;
    
    z-index: 596;
       
    width: auto;
    text-align : left;
    background-color: whitesmoke;
    border : 1px solid #aaaaaa;  
    
    list-style: none;
    margin: 0;
    padding: 0;      
    
}

div.nav ul ul ul {
    top: 0px;
    left: 100%;     
}

div.nav ul li:hover, div.nav ul li ul li:hover {
    background: #dddddd;
    color : white;
    padding-right: 0;
    padding-left: 0;
}

div.nav ul li ul li:hover{
    padding-left: 5px;
}


div.nav ul li.parent > a{
    background: url("../../images/arrow_expand.gif") no-repeat scroll 98% 100% transparent ;
   
}

div.nav ul li.parent > ul li > a{
    background-image:  :  none;
}

div.nav ul li ul > li.parent > a{
    background : url("../../images/bullet-sm-arrow-right.png") no-repeat scroll 98% center transparent;
    
}


div.nav ul a, div.nav ul span {
    color : black;
}

div.nav ul a.nourl{
    color: black !important;
}

.nourl{
	cursor : default;
}


/*********** rounded border **************/

div.nav ul li ul li ul li:first-child, div.nav ul li ul li ul li:first-child a , div.nav ul li ul li ul{
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
}

div.nav ul li ul li:last-child, div.nav ul li:last-child a , div.nav ul ul{
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
}


/************* vertical menu *******************/


nav.vertical {
	width: 100px;
	float: left;
	height: 100%;
	position: absolute;
	top: 0;
	padding-top:50px;
	z-index: 1;
	margin-left: 0;
	
	-webkit-transition : all .5s ease-out;
	-moz-transition : all .5s ease-out;
	transition : all .5s ease-out;
	
}

nav.vertical:hover {
	margin-left: 0;
	
	-webkit-transition : all .2s ease-out;
	-moz-transition : all .2s ease-out;
	transition : all .2s ease-out;
}

nav.vertical div.nav ul{
    width : 100px;
    float : left;
    text-align : right;
    padding : 0;
    right:auto; 
}

nav.vertical div.nav ul li{
    width : 100px;
    float : left;
    text-align : left;  
    border-bottom: 1px solid  #cccccc;
    left:auto;
}

nav.vertical div.nav ul li ul{
    width : auto;	
}

nav.vertical div.nav ul li ul li{
    width : 100%;
    float: none;
    border-bottom: 0; 
}

nav.vertical div.nav ul ul {
    top : 0;
    left: 100px;
}

nav.vertical div.nav ul ul ul {
    top: 0px;
    left: 100%;     
}

/* custom vertical menu */

/* responsive design */
@media only screen and (max-width : 1200px)  {

	nav.vertical {
	    margin-left: -40px;	    
	}
}

@media only screen and (max-width : 1050px)  {

    nav.vertical {
        margin-left: -90px;     
    }
}

nav.vertical div.nav ul li.parent > a{
    background: url("../../images/bullet-sm-arrow-right.png") no-repeat scroll 98% center transparent;
}

nav.vertical div.nav ul li:hover {
    padding-left: 5px;
}
