
/*Classes du theme V 
  Les controles du formulaire sont places les uns en dessous des autres */
   

.Verreur  {
  color: #C7003C;
  border-style: none;
}

/* Classes des tag app:input et app:select*/
.Vnormal  label.labelText,
.Verreur  label.labelText,
.Vlecture label.labelText
{
  display: block;
}

.Vrequis  label.labelText
{  
  font-weight: bold;
}

.Vnormal  input.inputText,
.Verreur  input.inputText,
.Vlecture  input.inputText,
.Vrequis  input.inputText
{
  vertical-align: middle; 
}

.Vnormal input.inputText,
.Verreur input.inputText,
.Vrequis input.inputText
{
  border: 1px groove #000000;
}

.Vlecture .boxText input.inputText
{
  border-style: none;
  background-color : transparent;
}

/*label utilise dans le tag app:dateheure */
.Vnormal  label.inputText,
.Verreur  label.inputText,
.Vlecture  label.inputText,
.Vrequis  label.inputText
{
  vertical-align: middle; 
}

.Vnormal  label.inputText,
.Verreur  label.inputText,
.Vrequis  label.inputText
{
  border: 1px groove #000000;
}

.Vlecture  label.inputText
{
  border-style: none;
  background-color : transparent;
}

.Vnormal  img, 
.Vrequis  img,
.Vlecture  img, 
.Verreur  img 
{
  cursor: pointer;
  border: 1px solid red;
  vertical-align: middle;
}

.Vnormal  textarea.inputText,
.Verreur  textarea.inputText,
.Vlecture  textarea.inputText,
.Vrequis  textarea.inputText
{
  vertical-align: middle; 
}

.Vnormal  textarea.inputText,
.Verreur  textarea.inputText,
.Vrequis  textarea.inputText
{
  border: 1px groove #000000;
}

.Vlecture  textarea.inputText
{
  border-style: none;
  background-color : transparent;
  overflow:auto;
}

.Vnormal  select,
.Verreur  select,
.Vrequis  select
{
  
  vertical-align: middle;
}

.Vlecture  select
{
 
  vertical-align: middle;
}

.Vnormal  label.labelText,
.Verreur  label.labelText,
.Vlecture  label.labelText
{
  vertical-align: middle;
  text-align: left;
}

.Vrequis label.labelText
{  
  vertical-align: middle;
  font-weight: bold;
}


.Vnormal div.boxCompText,
.Verreur div.boxCompText,
.Vrequis div.boxCompText,
.Vlecture div.boxCompText
{
  vertical-align: middle;
}

/* Classes des tags app:radio et app:checkbox */
/* Radio et checkbox places les uns en dessous des autres*/
/* theme=V*/

.Vnormal .boxlblGrpRadioChk,
.Verreur .boxlblGrpRadioChk,
.Vlecture .boxlblGrpRadioChk,
.Vrequis .boxlblGrpRadioChk
{
  text-align: right;
  vertical-align: middle;
}

.Verreur div.boxlblGrpRadioChk
{
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  vertical-align: middle;
}

.Vnormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.Verreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.Vlecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  vertical-align: baseline;
}

.Vrequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  font-weight: bold;
  text-align: right;
  vertical-align: baseline;
}

.Vnormal div.boxGrpRadioChk,
.Verreur div.boxGrpRadioChk,
.Vlecture div.boxGrpRadioChk,
.Vrequis div.boxGrpRadioChk
{
  vertical-align: baseline;
  height: auto;
}

.Vnormal .boxGrpRadioChk label.lblRadioChk,
.Verreur .boxGrpRadioChk label.lblRadioChk,
.Vlecture .boxGrpRadioChk label.lblRadioChk,
.Vrequis .boxGrpRadioChk label.lblRadioChk
{
  text-align: left;
  font-weight: normal; 
  vertical-align: middle;
}

.Vnormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.Verreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.Vlecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.Vrequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  vertical-align: middle;
}

.Vnormal .boxGrpRadioChk  .lblRadioChk input.radio,
.Verreur .boxGrpRadioChk  .lblRadioChk input.radio,
.Vlecture .boxGrpRadioChk .lblRadioChk input.radio,
.Vrequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  vertical-align: middle;
}




/* Radio et checkbox places les uns a cotes des autres*/
/* Classes des tags app:radio et app:checkbox */
/* Theme = VH*/
.VHnormal,
.VHerreur,
.VHlecture,
.VHrequis
{
  clear: left;
  display: block;
  height: auto;
}

.VHerreur  {
  color: #C7003C;
  border-style: none;
}

.VHnormal .boxlblGrpRadioChk,
.VHerreur .boxlblGrpRadioChk,
.VHlecture .boxlblGrpRadioChk,
.VHrequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.VHerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  vertical-align: middle;
}

.VHnormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.VHerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.VHlecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  vertical-align: baseline;
}

.VHrequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  vertical-align: baseline;
}

.VHnormal div.boxGrpRadioChk,
.VHerreur div.boxGrpRadioChk,
.VHlecture div.boxGrpRadioChk,
.VHrequis div.boxGrpRadioChk
{
  float: left;
  vertical-align: baseline;
  height: 100%;
}

.VHnormal .boxGrpRadioChk label.lblRadioChk,
.VHerreur .boxGrpRadioChk label.lblRadioChk,
.VHlecture .boxGrpRadioChk label.lblRadioChk,
.VHrequis .boxGrpRadioChk label.lblRadioChk
{
  text-align: left;
  font-weight: normal; 
  vertical-align: baseline;
}

.VHnormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.VHerreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.VHlecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.VHrequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  vertical-align: middle;
}

.VHnormal .boxGrpRadioChk  .lblRadioChk input.radio,
.VHerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.VHlecture .boxGrpRadioChk .lblRadioChk input.radio,
.VHrequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  vertical-align: middle;
}

.VHnormal div.boxCompRadioChk,
.VHerreur div.boxCompRadioChk,
.VHrequis div.boxCompRadioChk,
.VHlecture div.boxCompRadioChk
{
  float: left;
}

/* Classes des tag app:inputmultiple*/
.Vnormal td.cellNormal,
.Verreur td.cellNormal,
.Verreur td.cellErreur,
.Vlecture td.cellLecture,
.Vrequis td.cellNormal
{
  text-align: left; 
  vertical-align: middle;
  height: 100%;
}

.Vnormal td.cellNormal,
.Verreur td.cellNormal,
.Vlecture td.cellLecture,
.Vrequis td.cellNormal
{
  color: black;
}

.Vnormal .cellErreur,
.Verreur .cellErreur
{
   color: #C7003C;
}

.Vlecture .cellLecture
{
 color: black;
 border-style: none;
 background-color : transparent;
}

.Vnormal .cellNormal input.inputText,
.Verreur .cellErreur input.inputText,
.Verreur .cellNormal input.inputText,
.Vrequis .cellText input.inputText
{
  border: 1px groove #000000
}

.Vlecture .cellLecture input.inputText
{
  border-style: none;
  background-color : transparent;
}





.Vnormal div.boxFile label,
.Verreur div.boxFile label,
.Vlecture div.boxFile label,
.Vrequis div.boxFile label
{
  zoom:1; /*clear float*/
  overflow:hidden; /*clear float*/
  float:left;
  position:relative;
  background-color: rgb(212,208,200);
  text-align: center;
  color : rgb(0,0,0);
  border: 1px solid rgb(0,0,0);
}

.Vlecture div.boxFile label
{
  border-style: none;
}

.Vnormal div.boxFile label input,
.Verreur div.boxFile label input,
.Vlecture div.boxFile label input,
.Vrequis div.boxFile label input
{
  width:auto;
  position:absolute;
  right:0;
  top:0;
  border:none;
  line-height:12px;
  opacity:0;
  filter:alpha(opacity=0);
}



.Vnormal div.boxFauxInput,
.Verreur div.boxFauxInput,
.Vlecture div.boxFauxInput,
.Vrequis div.boxFauxInput
{
  float: left;
  text-align: left; 
  vertical-align: middle;

  height: 100%;
}

.Vnormal div.boxFauxInput input,
.Verreur div.boxFauxInput input,
.Vlecture div.boxFauxInput input,
.Vrequis div.boxFauxInput input
{
  vertical-align: middle;
  border: 1px groove #000000;
}

.Vlecture div.boxFauxInput input
{
  border-style: none;
  background-color : transparent;
}