
/**Classes du theme H 
Les controles du formulaire sont places les uns a cotes des autres */
   
.Hnormal,
.Herreur,
.Hlecture,
.Hrequis
{
  float: left;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  _height: auto;
  min-height: auto;
}

.Herreur  {
  color: #C7003C;
  border-style: none;
}

/* Classes des tag app:input et app:select*/
.Hnormal div.boxlblText,
.Hlecture div.boxlblText,
.Hrequis div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.Herreur div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  height: 20px;
}

.Hnormal div.boxText,
.Herreur div.boxText,
.Hlecture div.boxText,
.Hrequis div.boxText
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0px 2px 0px;
  float: left;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  height: 100%;
}

.Hnormal .boxlblText label.labelText,
.Herreur .boxlblText label.labelText,
.Hlecture .boxlblText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.Hrequis .boxlblText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.Hnormal .boxText input.inputText,
.Herreur .boxText input.inputText,
.Hlecture .boxText input.inputText,
.Hrequis .boxText input.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.Hnormal .boxText input.inputText,
.Herreur .boxText input.inputText,
.Hrequis .boxText input.inputText
{
  border: 1px groove #000000
}

.Hlecture .boxText input.inputText
{
  border-style: none;
  background-color : transparent;
}

/*label utilise dans le tag app:dateheure */
.Hnormal .boxText label.inputText,
.Herreur .boxText label.inputText,
.Hlecture .boxText label.inputText,
.Hrequis .boxText label.inputText
{
  float:left;
  padding: 0px 0px 0px 0px;
  margin: 3px 0px 0px 1px;
  vertical-align: middle; 
}

.Hnormal .boxText label.inputText,
.Herreur .boxText label.inputText,
.Hrequis .boxText label.inputText
{
  border: 1px groove #000000;
}

.Hlecture .boxText label.inputText
{
  border-style: none;
  background-color : transparent;
}

.Hnormal .boxText img, 
.Hrequis .boxText img,
.Hlecture .boxText img, 
.Herreur .boxText img 
{
  cursor: pointer;
  border: 1px solid red;
  vertical-align: middle;
  margin: 3px 0px 0px 0px;
}


.Hnormal .boxText textarea.inputText,
.Herreur .boxText textarea.inputText,
.Hlecture .boxText textarea.inputText,
.Hrequis .boxText textarea.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.Hnormal .boxText textarea.inputText,
.Herreur .boxText textarea.inputText,
.Hrequis .boxText textarea.inputText
{
  border: 1px groove #000000
}

.Hlecture .boxText textarea.inputText
{
  border-style: none;
  background-color : transparent;
  overflow:auto;
}

.Hnormal .boxText select,
.Herreur .boxText select,
.Hrequis .boxText select
{
  margin: 1px 0px 0px 3px;
}

.Hlecture .boxText select
{
  margin: 1px 0px 0px 3px;
}

.Hnormal .boxText label.labelText,
.Herreur .boxText label.labelText,
.Hlecture .boxText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.Hrequis .boxText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.Hnormal div.boxCompText,
.Herreur div.boxCompText,
.Hrequis div.boxCompText,
.Hlecture div.boxCompText
{
  float: left;
  display: block;
  margin: 3px 0px 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  vertical-align: middle;
}

/* Classes des tags app:radio et app:checkbox */
/* Radio et checkbox places les uns en dessous des autres*/
/*theme=H*/

.Hnormal .boxlblGrpRadioChk,
.Herreur .boxlblGrpRadioChk,
.Hlecture .boxlblGrpRadioChk,
.Hrequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.Herreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;.
  /*background-image: url(../images/errInput.gif);*/
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}

.Hnormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.Herreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.Hlecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
  padding: 2px 0% 2px 0%;
}

.Hrequis .boxlblGrpRadioChk label.lblGrpRadioChk,
.Hrequis .boxGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
}

.Hnormal div.boxGrpRadioChk,
.Herreur div.boxGrpRadioChk,
.Hlecture div.boxGrpRadioChk,
.Hrequis div.boxGrpRadioChk,
.Hnormal fieldset.boxGrpRadioChk,
.Herreur fieldset.boxGrpRadioChk,
.Hlecture fieldset.boxGrpRadioChk,
.Hrequis fieldset.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  vertical-align: middle;
  width: auto;
  height: auto;
}

.Hnormal .boxGrpRadioChk label.lblRadioChk,
.Herreur .boxGrpRadioChk label.lblRadioChk,
.Hlecture .boxGrpRadioChk label.lblRadioChk,
.Hrequis .boxGrpRadioChk label.lblRadioChk
{
  display: block;
  text-align: left;
  font-weight: normal; 
  vertical-align: middle;
}

.Hnormal .boxGrpRadioChk  input.checkbox,
.Herreur .boxGrpRadioChk  input.checkbox,
.Hlecture .boxGrpRadioChk input.checkbox,
.Hrequis .boxGrpRadioChk  input.checkbox
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

/* Radio et checkbox places les uns a cotes des autres*/
/* Classes des tags app:radio et app:checkbox */
/* Theme = HH*/

.HHnormal .boxlblGrpRadioChk,
.HHerreur .boxlblGrpRadioChk,
.HHlecture .boxlblGrpRadioChk,
.HHrequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.HHerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;.
  /*background-image: url(../images/errInput.gif);*/
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}

.HHnormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.HHerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.HHlecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
  padding: 2px 0% 2px 0%;
}

.HHrequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
}

.HHnormal div.boxGrpRadioChk,
.HHerreur div.boxGrpRadioChk,
.HHlecture div.boxGrpRadioChk,
.HHrequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  vertical-align: middle;
  width: auto;
  height: auto;
}

.HHnormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.HHerreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.HHlecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.HHrequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.HHnormal .boxGrpRadioChk  .lblRadioChk input.radio,
.HHerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.HHlecture .boxGrpRadioChk .lblRadioChk input.radio,
.HHrequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.HHnormal div.boxCompRadioChk,
.HHerreur div.boxCompRadioChk,
.HHrequis div.boxCompRadioChk,
.HHlecture div.boxCompRadioChk
{
  float: left;
  margin-left: 2px;
  padding: 2px 0.3% 2px 0.3%;
}

/* Classes des tag app:inputmultiple*/
.Hnormal td.cellNormal,
.Herreur td.cellNormal,
.Herreur td.cellErreur,
.Hlecture td.cellLecture,
.Hrequis td.cellNormal
{
  text-align: left; 
  vertical-align: middle;
  height: 100%;
  margin: 0px 0px 0px 0px;	
}

.Hnormal td.cellNormal,
.Herreur td.cellNormal,
.Hlecture td.cellLecture,
.Hrequis td.cellNormal
{
  color: black;
}

.Hnormal .cellNormal input.inputText,
.Herreur .cellNormal input.inputText,
.Herreur .cellErreur input.inputText,
.Hlecture .cellLecture input.inputText,
.Hrequis .cellNormal input.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.Hnormal .cellErreur,
.Herreur .cellErreur
{
   color: #C7003C;
}

.Hlecture .cellLecture
{
 color: black;
 border-style: none;
 background-color : transparent;
}

.Hnormal .cellNormal input.inputText,
.Herreur .cellErreur input.inputText,
.Herreur .cellNormal input.inputText,
.Hrequis .cellText input.inputText
{
  border: 1px groove #000000
}

.Hlecture .cellLecture input.inputText
{
  border-style: none;
  background-color : transparent;
}

.Hnormal .cellNormal label.labelText,
.Herreur .cellErreur label.labelText,
.Herreur .cellNormal label.labelText,
.Hrequis .cellNormal label.labelText,
.Hlecture .cellLecture label.labelText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.Hnormal div.boxGlobal,
.Herreur div.boxGlobal,
.Hlecture div.boxGlobal,
.Hrequis div.boxGlobal
{
	
}

.Hnormal div.boxFile,
.Herreur div.boxFile,
.Hlecture div.boxFile,
.Hrequis div.boxFile
{
  margin: 0.1em 0px 0px 0px;	
  padding: 0.3em 0px 0px 0px;
}

.Hnormal div.boxFile label,
.Herreur div.boxFile label,
.Hlecture div.boxFile label,
.Hrequis div.boxFile label
{
  zoom:1; /*clear float*/
  overflow:hidden; /*clear float*/
  float:left;
  position:relative;
  background-color: rgb(212,208,200);
  text-align: center;
  color : rgb(0,0,0);
  border: 1px solid rgb(0,0,0);
  font-size: 11px;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 0px;	
}

.Hlecture div.boxFile label
{
  border-style: none;
}

.Hnormal div.boxFile label input,
.Herreur div.boxFile label input,
.Hlecture div.boxFile label input,
.Hrequis div.boxFile label input
{
  width:auto;
  position:absolute;
  right:0;
  top:0;
  border:none;
  font-size:5em;
  line-height:12px;
  opacity:0;
  filter:alpha(opacity=0);
}



.Hnormal div.boxFauxInput,
.Herreur div.boxFauxInput,
.Hlecture div.boxFauxInput,
.Hrequis div.boxFauxInput
{
  margin: 0px 0px 0px 0px;	
  padding: 0.3em 3px 0px 0px;
  float: left;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  height: 100%;
}

.Hnormal div.boxFauxInput input,
.Herreur div.boxFauxInput input,
.Hlecture div.boxFauxInput input,
.Hrequis div.boxFauxInput input
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  border: 1px groove #000000;
}

.Hlecture div.boxFauxInput input
{
  border-style: none;
  background-color : transparent;
}