@IMPORT url("new/general.css");
@IMPORT url("new/form.css");
@IMPORT url("new/pagination.css");
@IMPORT url("new/icon.css");
@IMPORT url("details_html5.css");



/**** remise en forme de l'ancien menu javascript  ***/


.container div.menu {   
    
    background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom, #f5f5f5 0%,#eeeeee 100%); /* W3C */

        
	border-bottom: 1px solid #aaa;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	
}

.hidden{
    display: none;	
}	

#menu{
	width: 1000px;
    margin: 0 auto;
}

.ThemeOfficeMenu,.ThemeOfficeSubMenuTable{
	height: 32px;
}

.ThemeOfficeMainItem
{
    background-color: #EEE !important;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%) !important;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE)) !important;
background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%) !important;
background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%) !important;
background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ) !important;
background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%) !important;
}


/*  TABLE */
/* fixbug : changement da la police de caractère au "hover" de la souris sur une ligne du tableau, exemple : Application  > Bannette des éditions */
.eXtremeTable .highlight td {
    font-family: verdana, arial, helvetica, sans-serif;
}