/*Classes du theme VEncadre 
  Les controles du formulaire sont places les uns en dessous des autres */

.VEncadrenormal,
.VEncadreerreur,
.VEncadrelecture,
.VEncadrerequis
{
  clear: left;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  height: 20px;
}

.VEncadreerreur  {
  color: #C7003C;
  border-style: none;
}

/* Classes des tag app:input et app:select*/

.VEncadrenormal div.boxlblText,
.VEncadrelecture div.boxlblText,
.VEncadrerequis div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  background-color: rgb(255,236,217); 
  color: #6F6FC9;
  border: 1px solid #c1c1ff;
  text-align: right;
  vertical-align: middle;
}

.VEncadreerreur div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  border: solid 1px;
  height: 20px;
}

.VEncadrenormal div.boxText,
.VEncadreerreur div.boxText,
.VEncadrelecture div.boxText,
.VEncadrerequis div.boxText
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  color: #6F6FC9;
  height: 100%;
}

.VEncadrenormal .boxlblText label.labelText,
.VEncadreerreur .boxlblText label.labelText,
.VEncadrelecture .boxlblText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.VEncadrerequis .boxlblText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.VEncadrenormal .boxText input.inputText,
.VEncadreerreur .boxText input.inputText,
.VEncadrelecture .boxText input.inputText,
.VEncadrerequis .boxText input.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.VEncadrenormal .boxText input.inputText,
.VEncadreerreur .boxText input.inputText,
.VEncadrerequis .boxText input.inputText
{
  border: 1px groove #000000
}

.VEncadrelecture .boxText input.inputText
{
  border-style: none;
  background-color : transparent;
}

.VEncadrenormal .boxText textarea.inputText,
.VEncadreerreur .boxText textarea.inputText,
.VEncadrelecture .boxText textarea.inputText,
.VEncadrerequis .boxText textarea.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.VEncadrenormal .boxText textarea.inputText,
.VEncadreerreur .boxText textarea.inputText,
.VEncadrerequis .boxText textarea.inputText
{
  border: 1px groove #000000
}

.VEncadrelecture .boxText textarea.inputText
{
  border-style: none;
  background-color : transparent;
  overflow: auto;
}

.VEncadrenormal .boxText select,
.VEncadreerreur .boxText select,
.VEncadrerequis .boxText select
{
  margin: 1px 0px 0px 3px;
}

.VEncadrelecture .boxText select
{
  margin: 1px 0px 0px 3px;
}

.VEncadrenormal .boxText label.labelText,
.VEncadreerreur .boxText label.labelText,
.VEncadrelecture .boxText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.VEncadrerequis .boxText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.VEncadrenormal div.boxCompText,
.VEncadreerreur div.boxCompText,
.VEncadrerequis div.boxCompText,
.VEncadrelecture div.boxCompText
{
  float: left;
  display: block;
  margin: 3px 0px 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  vertical-align: middle;
}

/* Classes des tags app:radio et app:checkbox */
/* Radio et checkbox places les uns en dessous des autres*/
/*theme=VEncadre*/
.VEncadrenormal .boxlblGrpRadioChk,
.VEncadreerreur .boxlblGrpRadioChk,
.VEncadrelecture .boxlblGrpRadioChk,
.VEncadrerequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  background-color: rgb(255,236,217); 
  color: #6F6FC9;
  border: 1px solid #c1c1ff;
  text-align: right;
  vertical-align: middle;
}

.VEncadreerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}

.VEncadrenormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.VEncadreerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.VEncadrelecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
  padding: 2px 0% 2px 0%;
}

.VEncadrerequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
}

.VEncadrenormal div.boxGrpRadioChk,
.VEncadreerreur div.boxGrpRadioChk,
.VEncadrelecture div.boxGrpRadioChk,
.VEncadrerequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  vertical-align: baseline;
  width: auto;
  color: #6F6FC9;
  height: 100%;
}

.VEncadrenormal .boxGrpRadioChk label.lblRadioChk,
.VEncadreerreur .boxGrpRadioChk label.lblRadioChk,
.VEncadrelecture .boxGrpRadioChk label.lblRadioChk,
.VEncadrerequis .boxGrpRadioChk label.lblRadioChk
{
  display: block;
  text-align: left;
  font-weight: normal; 
  vertical-align: middle;
}

.VEncadrenormal .boxGrpRadioChk  .lblRadioChk input.checkbox,
.VEncadreerreur .boxGrpRadioChk  .lblRadioChk input.checkbox,
.VEncadrelecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.VEncadrerequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.VEncadrenormal .boxGrpRadioChk  .lblRadioChk input.radio,
.VEncadreerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.VEncadrelecture .boxGrpRadioChk .lblRadioChk input.radio,
.VEncadrerequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

/* Radio et checkbox places les uns a cotes des autres*/
/* Classes des tags app:radio et app:checkbox */
/* Theme = VHEncadre*/
.VHEncadrenormal,
.VHEncadreerreur,
.VHEncadrelecture,
.VHEncadrerequis
{
  clear: left;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  height: 20px;
}

.VHEncadrenormal .boxlblGrpRadioChk,
.VHEncadreerreur .boxlblGrpRadioChk,
.VHEncadrelecture .boxlblGrpRadioChk,
.VHEncadrerequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  background-color: rgb(255,236,217); 
  color: #6F6FC9;
  border: 1px solid #c1c1ff;
  text-align: right;
  vertical-align: middle;
}

.VHEncadreerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}

.VHEncadrenormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.VHEncadreerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.VHEncadrelecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
  padding: 2px 0% 2px 0%;
}

.VHEncadrerequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
}

.VHEncadrenormal div.boxGrpRadioChk,
.VHEncadreerreur div.boxGrpRadioChk,
.VHEncadrelecture div.boxGrpRadioChk,
.VHEncadrerequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  vertical-align: baseline;
  width: auto;
  color: #6F6FC9;
  height: 100%;
}

.VHEncadrenormal .boxGrpRadioChk label.lblRadioChk,
.VHEncadreerreur .boxGrpRadioChk label.lblRadioChk,
.VHEncadrelecture .boxGrpRadioChk label.lblRadioChk,
.VHEncadrerequis .boxGrpRadioChk label.lblRadioChk
{
  text-align: left;
  font-weight: normal; 
  vertical-align: baseline;
}

.VHEncadrenormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.VHEncadreerreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.VHEncadrelecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.VHEncadrerequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.VHEncadrenormal .boxGrpRadioChk  .lblRadioChk input.radio,
.VHEncadreerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.VHEncadrelecture .boxGrpRadioChk .lblRadioChk input.radio,
.VHEncadrerequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.VHEncadrenormal div.boxCompRadioChk,
.VHEncadreerreur div.boxCompRadioChk,
.VHEncadrerequis div.boxCompRadioChk,
.VHEncadrelecture div.boxCompRadioChk
{
  float: left;
  margin-left: 2px;
  padding: 2px 0.3% 2px 0.3%;
}

.VEncadrenormal div.boxGlobal,
.VEncadreerreur div.boxGlobal,
.VEncadrelecture div.boxGlobal,
.VEncadrerequis div.boxGlobal
{
  margin: 0px 0px 0px 0px;	
  padding: 0px 2px 2px 2px;
  float: left;
  background-color: rgb(245,245,250); 
  border: 1px solid #c1c1ff;
  text-align: left; 
  width: auto;
  color: #6F6FC9;
  height: 100%;
  display :inline;
}

.VEncadrenormal div.boxFile,
.VEncadreerreur div.boxFile,
.VEncadrelecture div.boxFile,
.VEncadrerequis div.boxFile
{
  margin: 0.1em 0px 0px 0px;	
  padding: 3px 0px 0px 0px;
  float: left;
}

.VEncadrenormal div.boxFile label,
.VEncadreerreur div.boxFile label,
.VEncadrelecture div.boxFile label,
.VEncadrerequis div.boxFile label
{
  zoom:1; /*clear float*/
  overflow:hidden; /*clear float*/
  float:left;
  position:relative;
  background-color: rgb(212,208,200);
  text-align: center;
  color : rgb(0,0,0);
  border: 1px solid rgb(0,0,0);
  font-size: 11px;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 0px;	
}

.VEncadrelecture div.boxFile label
{
  border-style: none;
}

.VEncadrenormal div.boxFile label input,
.VEncadreerreur div.boxFile label input,
.VEncadrelecture div.boxFile label input,
.VEncadrerequis div.boxFile label input
{
  width:auto;
  position:absolute;
  right:0;
  top:0;
  border:none;
  font-size:5em;
  line-height:12px;
  opacity:0;
  filter:alpha(opacity=0);
}



.VEncadrenormal div.boxFauxInput,
.VEncadreerreur div.boxFauxInput,
.VEncadrelecture div.boxFauxInput,
.VEncadrerequis div.boxFauxInput
{
  margin: 0px 0px 0px 0px;	
  padding: 0.3em 3px 0px 0px;
  float: left;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  height: 100%;
}

.VEncadrenormal div.boxFauxInput input,
.VEncadreerreur div.boxFauxInput input,
.VEncadrelecture div.boxFauxInput input,
.VEncadrerequis div.boxFauxInput input
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  border: 1px groove #000000;
}

.VEncadrelecture div.boxFauxInput input
{
  border-style: none;
  background-color : transparent;
}