
/*Classes du theme V 
  Les controles du formulaire sont places les uns en dessous des autres */
   
.Vnormal,
.Verreur,
.Vlecture,
.Vrequis
{
  clear: both;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  height: auto;
}

.Verreur  {
  color: #C7003C;
  border-style: none;
}

/* Classes des tag app:input et app:select*/

.Vnormal div.boxlblText,
.Vlecture div.boxlblText,
.Vrequis div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.Verreur div.boxlblText
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  height: 20px;
}

.Vnormal div.boxText,
.Verreur div.boxText,
.Vlecture div.boxText,
.Vrequis div.boxText
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0px 2px 0px;
  float: left;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  height: 100%;
}

.Vnormal .boxlblText label.labelText,
.Verreur .boxlblText label.labelText,
.Vlecture .boxlblText label.labelText
{
  display: block;
  text-align: right;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.Vrequis .boxlblText label.labelText
{  
  display: block;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
}

.Vnormal .boxText input.inputText,
.Verreur .boxText input.inputText,
.Vlecture .boxText input.inputText,
.Vrequis .boxText input.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
  vertical-align: middle; 
}

.Vnormal .boxText input.inputText,
.Verreur .boxText input.inputText,
.Vrequis .boxText input.inputText
{
  border: 1px groove #000000;
}

.Vlecture .boxText input.inputText
{
  border-style: none;
  background-color : transparent;
}

/*label utilise dans le tag app:dateheure */
.Vnormal .boxText label.inputText,
.Verreur .boxText label.inputText,
.Vlecture .boxText label.inputText,
.Vrequis .boxText label.inputText
{
  float:left;
  padding: 0px 0px 0px 0px;
  margin: 3px 0px 0px 1px;
  vertical-align: middle; 
}

.Vnormal .boxText label.inputText,
.Verreur .boxText label.inputText,
.Vrequis .boxText label.inputText
{
  border: 1px groove #000000;
}

.Vlecture .boxText label.inputText
{
  border-style: none;
  background-color : transparent;
}

.Vnormal .boxText img, 
.Vrequis .boxText img,
.Vlecture .boxText img, 
.Verreur .boxText img 
{
  cursor: pointer;
  border: 1px solid red;
  vertical-align: middle;
  margin: 3px 0px 0px 0px;
}

.boxText label
{
  display: block;
  text-align: left;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.Vnormal .boxText textarea.inputText,
.Verreur .boxText textarea.inputText,
.Vlecture .boxText textarea.inputText,
.Vrequis .boxText textarea.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
  vertical-align: middle; 
}

.Vnormal .boxText textarea.inputText,
.Verreur .boxText textarea.inputText,
.Vrequis .boxText textarea.inputText
{
  border: 1px groove #000000;
}

.Vlecture .boxText textarea.inputText
{
  border-style: none;
  background-color : transparent;
  overflow:auto;
}

.Vnormal .boxText select,
.Verreur .boxText select,
.Vrequis .boxText select
{
  margin: 1px 0px 0px 3px;
  vertical-align: middle;
}

.Vlecture .boxText select
{
  margin: 1px 0px 0px 3px;
  vertical-align: middle;
}

.Vnormal .boxText label.labelText,
.Verreur .boxText label.labelText,
.Vlecture .boxText label.labelText
{
  vertical-align: middle;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.Vrequis .boxText label.labelText
{  
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}


.Vnormal div.boxCompText,
.Verreur div.boxCompText,
.Vrequis div.boxCompText,
.Vlecture div.boxCompText
{
  float: left;
  display: block;
  margin: 3px 0px 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  vertical-align: middle;
}

/* Classes des tags app:radio et app:checkbox */
/* Radio et checkbox places les uns en dessous des autres*/
/* theme=V*/

.Vnormal .boxlblGrpRadioChk,
.Verreur .boxlblGrpRadioChk,
.Vlecture .boxlblGrpRadioChk,
.Vrequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.Verreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  vertical-align: middle;
}

.Vnormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.Verreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.Vlecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
  padding: 2px 0% 2px 0%;
}

.Vrequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
}

.Vnormal div.boxGrpRadioChk,
.Verreur div.boxGrpRadioChk,
.Vlecture div.boxGrpRadioChk,
.Vrequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  vertical-align: baseline;
  width: auto;
  height: auto;
}

.Vnormal .boxGrpRadioChk label.lblRadioChk,
.Verreur .boxGrpRadioChk label.lblRadioChk,
.Vlecture .boxGrpRadioChk label.lblRadioChk,
.Vrequis .boxGrpRadioChk label.lblRadioChk
{
  display: block;
  text-align: left;
  font-weight: normal; 
  vertical-align: middle;
}

.Vnormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.Verreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.Vlecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.Vrequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.Vnormal .boxGrpRadioChk  .lblRadioChk input.radio,
.Verreur .boxGrpRadioChk  .lblRadioChk input.radio,
.Vlecture .boxGrpRadioChk .lblRadioChk input.radio,
.Vrequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

/* Radio et checkbox places les uns a cotes des autres*/
/* Classes des tags app:radio et app:checkbox */
/* Theme = VH*/
.VHnormal,
.VHerreur,
.VHlecture,
.VHrequis
{
  clear: left;
  display: block;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px;
  width : 100%;
  height: auto;
}

.VHerreur  {
  color: #C7003C;
  border-style: none;
}

.VHnormal .boxlblGrpRadioChk,
.VHerreur .boxlblGrpRadioChk,
.VHlecture .boxlblGrpRadioChk,
.VHrequis .boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
}

.VHerreur div.boxlblGrpRadioChk
{
  float: left;
  display: block;
  margin: 0px 0.2% 0px 0px;
  padding: 2px 0.3% 2px 0.3%;
/*   background-image: url(../images/errInput.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  vertical-align: middle;
}

.VHnormal .boxlblGrpRadioChk label.lblGrpRadioChk,
.VHerreur .boxlblGrpRadioChk label.lblGrpRadioChk,
.VHlecture .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
  padding: 2px 0% 2px 0%;
}

.VHrequis .boxlblGrpRadioChk label.lblGrpRadioChk
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100%;
  vertical-align: baseline;
}

.VHnormal div.boxGrpRadioChk,
.VHerreur div.boxGrpRadioChk,
.VHlecture div.boxGrpRadioChk,
.VHrequis div.boxGrpRadioChk
{
  margin: 0px 0px 0px 0px;	
  padding: 2px 0.3% 2px 0.3%;
  float: left;
  margin-left: 0%;
  vertical-align: baseline;
  width: auto;
  height: 100%;
}

.VHnormal .boxGrpRadioChk label.lblRadioChk,
.VHerreur .boxGrpRadioChk label.lblRadioChk,
.VHlecture .boxGrpRadioChk label.lblRadioChk,
.VHrequis .boxGrpRadioChk label.lblRadioChk
{
  text-align: left;
  font-weight: normal; 
  vertical-align: baseline;
}

.VHnormal .boxGrpRadioChk .lblRadioChk  input.checkbox,
.VHerreur .boxGrpRadioChk .lblRadioChk input.checkbox,
.VHlecture .boxGrpRadioChk .lblRadioChk input.checkbox,
.VHrequis .boxGrpRadioChk  .lblRadioChk input.checkbox
{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.VHnormal .boxGrpRadioChk  .lblRadioChk input.radio,
.VHerreur .boxGrpRadioChk  .lblRadioChk input.radio,
.VHlecture .boxGrpRadioChk .lblRadioChk input.radio,
.VHrequis .boxGrpRadioChk  .lblRadioChk input.radio
{
  padding: 4px 0px 0px 0px;
  margin: 0px;
  vertical-align: middle;
}

.VHnormal div.boxCompRadioChk,
.VHerreur div.boxCompRadioChk,
.VHrequis div.boxCompRadioChk,
.VHlecture div.boxCompRadioChk
{
  float: left;
  margin-left: 2px;
  padding: 2px 0.3% 2px 0.3%;
}

/* Classes des tag app:inputmultiple*/
.Vnormal td.cellNormal,
.Verreur td.cellNormal,
.Verreur td.cellErreur,
.Vlecture td.cellLecture,
.Vrequis td.cellNormal
{
  text-align: left; 
  vertical-align: middle;
  height: 100%;
  margin: 0px 0px 0px 0px;	
}

.Vnormal td.cellNormal,
.Verreur td.cellNormal,
.Vlecture td.cellLecture,
.Vrequis td.cellNormal
{
  color: black;
}

.Vnormal .cellNormal input.inputText,
.Verreur .cellNormal input.inputText,
.Verreur .cellErreur input.inputText,
.Vlecture .cellLecture input.inputText,
.Vrequis .cellNormal input.inputText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.Vnormal .cellErreur,
.Verreur .cellErreur
{
   color: #C7003C;
}

.Vlecture .cellLecture
{
 color: black;
 border-style: none;
 background-color : transparent;
}

.Vnormal .cellNormal input.inputText,
.Verreur .cellErreur input.inputText,
.Verreur .cellNormal input.inputText,
.Vrequis .cellText input.inputText
{
  border: 1px groove #000000
}

.Vlecture .cellLecture input.inputText
{
  border-style: none;
  background-color : transparent;
}

.Vnormal .cellNormal label.labelText,
.Verreur .cellErreur label.labelText,
.Verreur .cellNormal label.labelText,
.Vrequis .cellNormal label.labelText,
.Vlecture .cellLecture label.labelText
{
  padding: 1px 0px 0px 0px;
  margin: 1px 0px 0px 3px;
}

.Vnormal div.boxGlobal,
.Verreur div.boxGlobal,
.Vlecture div.boxGlobal,
.Vrequis div.boxGlobal
{
	
}

.Vnormal div.boxFile,
.Verreur div.boxFile,
.Vlecture div.boxFile,
.Vrequis div.boxFile
{
  margin: 0.1em 0px 0px 0px;	
  padding: 0.3em 0px 0px 0px;
}

.Vnormal div.boxFile label,
.Verreur div.boxFile label,
.Vlecture div.boxFile label,
.Vrequis div.boxFile label
{
  zoom:1; /*clear float*/
  overflow:hidden; /*clear float*/
  float:left;
  position:relative;
  background-color: rgb(212,208,200);
  text-align: center;
  color : rgb(0,0,0);
  border: 1px solid rgb(0,0,0);
  font-size: 11px;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 0px;	
}

.Vlecture div.boxFile label
{
  border-style: none;
}

.Vnormal div.boxFile label input,
.Verreur div.boxFile label input,
.Vlecture div.boxFile label input,
.Vrequis div.boxFile label input
{
  width:auto;
  position:absolute;
  right:0;
  top:0;
  border:none;
  font-size:5em;
  line-height:12px;
  opacity:0;
  filter:alpha(opacity=0);
}



.Vnormal div.boxFauxInput,
.Verreur div.boxFauxInput,
.Vlecture div.boxFauxInput,
.Vrequis div.boxFauxInput
{
  margin: 0px 0px 0px 0px;	
  padding: 0.3em 3px 0px 0px;
  float: left;
  text-align: left; 
  vertical-align: middle;
  width: auto;
  height: 100%;
}

.Vnormal div.boxFauxInput input,
.Verreur div.boxFauxInput input,
.Vlecture div.boxFauxInput input,
.Vrequis div.boxFauxInput input
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  border: 1px groove #000000;
}

.Vlecture div.boxFauxInput input
{
  border-style: none;
  background-color : transparent;
}